[2019-03-08 02:17] barbeau opened #265 "Add clear "dual-frequency support" label"
**Summary:**

I'd like to add a new card to the Status view that gives a few easy-to-read labels for whether dual-frequency is supported on the device - something like:

"Dual-frequency: (Not supported) (Supported) (In use)"

...and the one that's highlighted would clearly indicate the level of support that the device has for dual-frequency GNSS.

I find myself explaining how to tell if a device s

[2019-03-08 02:22] barbeau commented on #263
@paulle Thanks for the article!

[2019-03-08 02:22] #263 closed

[2019-03-10 23:28] ValZapod commented on #264
@barbeau That is strange. I suppose glonass only support CDMA on E5b (they call it L3), and support of CDMA on L1 (1575.42) and L2 and will be only in https://en.wikipedia.org/wiki/GLONASS-K2 series of setellites...

[2019-03-12 14:57] gdt opened #267 "Clarify what "Used" means for SBAS satellites in FAQ"
**Summary:**

I want to know if my device is computing a fix based on just GNSS satellites, or if it is applying corrections based on SBAS (or other).

**Steps to reproduce:**

Run gpstest (up-to-date from f-droid).   Observe that on first fix, error estimates might be as high as 15m ish, and then rapidly settle to 10m.  After quite a while, consistent with receiving corrections from SBAS, I often

[2019-03-14 11:35] Atlanta88 opened #268 "Error in AccumulatedDeltaRange Xiaomi Mi 9"
Hi,
For my study, I acquired the latest Xiomi Mi 9. However, when I wanted to process the data acquired under GNSSlogger, I realized that AccumulatedDeltaRange are missing and I don't know why. So I can't do any post-processing. The Android version of the phone is 10.2

Thank you in advance for your answers

![Screenshot_2019-03-14-12-20-53-607_com google android apps location gps gnsslogger](http

[2019-03-15 22:15] goldfndr commented on #167
See also #130 regarding dropping the ".0" for elevation and azimuth.

[2019-03-15 22:49] goldfndr commented on #267
If an SBAS satellite is in use, it'll have a "U" flag, just like the GNSS satellites. (if your ROM/chipset doesn't have a bug that doesn't properly implement the flag)

See #108 for a couple of screenshots: the first one has the U flag for an in-use SBAS satellite (46), the second one has 4 meter accuracy without using SBAS. I've frequently seen three (46, 48 51) with AE but only ever one with U.

[2019-03-16 01:00] gdt commented on #267
@goldfndr  I think you are referring to doing ranging from the SBAS transmitter (which is also interesting).    I am asking about knowing if the differential corrections transmitted via SBAS are being applied to the pseudoranges observed to other satellites.

[2019-03-17 21:44] barbeau commented on #268
@Atlanta88 This issue tracker is for the GPSTest app, not Google's GnssLogger app (see https://github.com/google/gps-measurement-tools/tree/master/GNSSLogger for that app).

That being said, the table at https://developer.android.com/guide/topics/sensors/gnss doesn't list the Xiaomi Mi 9 as supporting accumulated delta range, although the Mi 8 is listed as supporting it.  The Mi 8 used a Broadcomm

[2019-03-17 21:44] #268 closed

[2019-03-17 22:01] barbeau commented on #267
@gdt Yes, this is a good point, and something that's not 100% clear in the current Android spec.  Here's the boolean value for "used" that's passed from the chipset to the Android OS to GPSTest, which is shown as a "U" letter in the "Flags" column on the GPSTest Status screen:
https://developer.android.com/reference/android/location/GnssStatus.html#usedInFix(int)

It says:

My assumption is that t

[2019-03-17 22:04] barbeau commented on #267
Also, note that, in theory, the correction information from SBAS satellites could also be acquired in the A-GPS assistance information over SUPL or other channels.

[2019-03-17 23:16] gdt commented on #267
Thanks.  I agree that the API docs imply that it's about the use of pseudoranges from that sat in the navigation solution.  Fixing the FAQ seems sufficient for "explain what used means" in this case - that the spec says something, and it's hard to tell what the ROM is doing.

[2019-03-17 23:23] gdt opened #269 "Give indication of whether differential corrections are in use"
In #267, there are two possible meanings for "use of SBAS".  One, which #267 was clarified to mean, is about whether the U flag for an SBAS satellite means that pseudoranges from that satellite are used in the navigation solution (our current belief) or if it means something else.

There is an entirely separate issue, which is whether and how the user can tell if differential corrections for a par

[2019-03-17 23:26] gdt commented on #267
Off topic, but if you can explain the use of IP vs SUPL for A-GPS, and also what information from the phone is transmitted when A-GPS is requested, that would be really useful.   I would hope that there is no transmission of the current best guess of coordinates to Google, but I have no confidence.

[2019-03-18 16:19] barbeau opened #270 "Add L1 CF for EGNOS and MSAS SBAS"
**Summary:**

Raw CF values are showing up for EGNOS and MSAS SBAS that haven't previously been observed, specifically:
* EGNOS - 126
* MSAS - 129
* MSAS - 137

We should show the CF label instead.  Here's a screenshot:

![image](https://user-images.githubusercontent.com/928045/54545337-d2ea0a00-4977-11e9-9817-edc74385ce30.png)

**Steps to reproduce:**

Run app on GPSTest in Hong Kong on Galaxy S1

[2019-03-18 16:23] barbeau commented on #269
Thanks @gdt!  Yes, as mentioned in https://github.com/barbeau/gpstest/issues/267#issuecomment-473719378, knowing whether differential corrections are being applied is not currently supported in the Android APIs.  I'll leave this issue open so if in the future Android support is added we can add support to GPSTest.

[2019-03-18 16:31] barbeau commented on #258
Including https://github.com/barbeau/gpstest/issues/264 and https://www.gsc-europa.eu/news/informative-note-about-galileo-svids-tracking, here's the total list that needs to be added for Galileo:
* 331
* 332
* 333
* 334
* 335
* 336

[2019-03-19 16:46] barbeau commented on #270
Based on https://gssc.esa.int/navipedia/index.php/EGNOS_Space_Segment, here's the full list of EGNOS IDs:
* 120
* 123
* 126
* 136

And for MSAS (the Japanese SBAS), based on https://gssc.esa.int/navipedia/index.php/MSAS_Space_Segment looks like just the two IDs shown in the screenshot:
* 129
* 137

[2019-03-19 17:01] #270 closed

[2019-03-19 17:11] #267 closed

[2019-03-19 17:16] #258 closed

[2019-03-19 17:20] #220 closed

[2019-03-24 08:36] GeoZac commented on #257
I was playing with Android Studio and maybe I could suggest a method
I changed the layout a bit, i.e, moved the latitude and longitude to same TableRow element

![Layout Change](https://imgur.com/a/YRWadtj)

the coordinates can be copied easily by now adding a onClickListener to this row and formatting a string with coordinates and pushing it to ClipboardManager service  as ClipData

![Data receiv

[2019-03-24 08:43] GeoZac commented on #257
You could change the layout a bit, i.e, moved the latitude and longitude to same TableRow element.

The coordinates can be copied easily by now adding a onClickListener to this TableRow and formatting a string with coordinates and pushing it to ```ClipboardManager```  service  as ```ClipData```

[2019-03-26 17:03] barbeau commented on #267
@gdt Re: SUPL - I'd like more info about this myself.  It's been a while since I've done a deep dive of what's transmitted over the assistance channels.  I posted what I knew at the time in this Google Group post - https://groups.google.com/d/msg/gpstest_android/wOgMdQ0N_vU/lU0Qnkq48zIJ.

re: privacy, this analysis claims identifying info like IMEI and location info like serving cell is sent to Go

[2019-03-31 23:43] kimollivier opened #271 "SBAS for Australasia"
![2019-04-01 12 59 03](https://user-images.githubusercontent.com/3343876/55297916-02743880-5487-11e9-8305-57e10e9aea5e.jpg)
**Summary:**

Australia and New Zealand now have SBAS on PRN 122

**Steps to reproduce:**

This does not show as available

**Expected behavior:**

List 122 in NZ as available
https://www.ga.gov.au/scientific-topics/positioning-navigation/positioning-for-the-future/satellite-

[2019-03-31 23:53] barbeau commented on #271
Thanks! Can you add a screenshot of this on the Note 8?

[2019-04-05 17:50] #168 closed

[2019-04-07 08:25] huitc opened #272 "can you update the release builds?"
(^W^)))))

^^''

[2019-04-07 13:51] barbeau commented on #272
I plan on cutting a new release next week. In the meantime you're always welcome to build and install the project yourself to get the latest code.

[2019-04-07 13:51] #272 closed

[2019-04-08 16:48] barbeau opened #273 "Release build broken"
**Summary:**

When doing:

`gradlew assembleRelease -D org.gradle.daemon=false`

...I get a build failure with the following warning:

[code]

Related issue on the SlidingUpPanelLayout:
* https://github.com/umano/AndroidSlidingUpPanel/issues/921#issuecomment-411840048

A proposed workaround in that comment is adding the following to Proguard:

[code]

**Steps to reproduce:**

Run release build:

`

[2019-04-08 16:49] barbeau commented on #273
Related OneBusAway issue - https://github.com/OneBusAway/onebusaway-android/issues/944#issuecomment-446340531

[2019-04-10 16:19] #273 closed

[2019-04-10 17:06] huitc commented on #272
nice~

[2019-04-11 23:34] #264 closed

[2019-04-12 16:45] barbeau commented on #271
@kimollivier From a closer look at your screenshot, it looks like your device hardware doesn't support the Australia SBAS, otherwise it would show the record in the SBAS card but the flag would be missing.  I've been holding off adding support for specific satellites like this to GPSTest until there is evidence of hardware support.  So, I'll keep this issue open until we can find a device that act

[2019-04-12 16:46] barbeau commented on #234
It looks like Huawei fixed this bug in build 9.0.0.232, so CF values are now visible (although still no dual-frequency) - see this article for the screenshot:
https://medium.com/@sjbarbeau/dual-frequency-gnss-on-android-devices-152b8826e1c

[2019-04-12 16:46] #234 closed

[2019-04-12 17:01] barbeau commented on #261
Here's the initial one-time project config to define files to translate:
https://docs.transifex.com/integrations/github

Travis CI integration:
https://docs.transifex.com/integrations/github#section-integrating-with-travis-ci

[2019-04-12 17:35] #261 closed

[2019-04-15 12:25] uli-on opened #274 "Can't save Accuracy ground truth for locales with commas"
In order to enter my location on the Accuracy screen I tapped the map and on saving got an error re formatting of the values ("must be in decimal degrees"). Obviously, the app expects dots where my Android local default automatically puts commas: After replacing the commas with dots I could save alright.

Android 6 by Motorola
GPSTest 3.3.0

[2019-04-15 16:50] barbeau commented on #274
Thanks for reporting this! I'll get it fixed.

[2019-04-16 17:32] #274 closed

[2019-04-16 17:42] barbeau opened #275 "Update translation docs"
**Summary:**

Translation process via Transifex.com seems to work well.  I need to update the TRANSLATIONS and README docs to reflect the new process.

[2019-04-16 18:01] huitc commented on #272
I hope that the beta version can be released more frequently.😅😅
thx!!

[2019-04-16 23:42] jabozksl opened #276 "Russian translation"
i hope it works

[russian.zip](https://github.com/barbeau/gpstest/files/3087282/russian.zip)

[2019-04-17 16:39] barbeau commented on #274
@uli-on I just pushed v3.3.1 release to Google Play beta testing group, which should include a fix for this issue.  Could you please give it a try and let me know?

[2019-04-17 16:55] barbeau commented on #276
Thanks @jabozkzks!  If you can comment "Yes I agree" in this thread to the CLA that is here:
https://gist.github.com/barbeau/6c075d0118ad00bdb307442fe43ace30

...I can manually add these files to Transifex, which is where translations will be managed going forward.

[2019-04-17 20:41] huitc commented on #272
nice~

[2019-04-19 17:38] barbeau opened #277 "Add Blackout Dark mode"
**Summary:**

From user:

I'd like this too.  There are some dark theme options for later versions of Android that we aren't currently using that we can take a look at:
https://www.xda-developers.com/android-q-dark-mode-overview/

**Steps to reproduce:**

Go to settings and enable "Dark mode"

**Expected behavior:**

Give me an option for blackout mode option for true black background, or make dar

[2019-04-19 17:54] #275 closed

[2019-04-19 18:22] barbeau commented on #208
This is fixed as part of https://github.com/barbeau/gpstest/pull/235 - Mapbox is the current tile provider for the OSMDroid version.

[2019-04-19 18:22] #208 closed

[2019-04-20 14:43] uli-on commented on #274
Yup, commas do work now.

[2019-04-20 14:53] uli-on opened #279 "Color issue: Same color for font and BG in pop-up dialogue"
If GPS is deactivated, the app puts up a dialogue, asking whether GPS shall be activated now or left as is. The two blue buttons come with the same color for font and background and can only be dustinguished by holding the button pressed as long as it tskes for the colors to change.

App version: v3.3.1 (47-google)
Model: Moto G (4)
Android version: 6.0.1 / 23
Google Play Services App: 16.0.89 (04

[2019-04-20 15:05] barbeau commented on #279
@uli-on Thanks for the report!  Could you please add screenshots?

[2019-04-20 20:42] #259 closed

[2019-04-22 16:35] barbeau opened #281 "Travis - Attempted Transifex push fails on PR builds"
**Summary:**

In our normal Travis CI build for pushes to the master branch, any string updates are automatically pushed to Transifex using the API key I've configured in the Travis account.

However, when someone opens a PR and Travis runs for that PR, that part of the build hangs waiting on an API key to be entered on the console because the user don't have any Transifex API key configured in th

[2019-04-23 16:30] barbeau opened #284 "Allow user to change language within app"
**Summary:**

I've gotten several requests for allowing the user to change the language within the app.  This makes it easier for translators to review changes, and also allows users to switch back to English in the case that a contributed translation isn't the best quality.

A few blog posts on the topic:
* https://gunhansancar.com/change-language-programmatically-in-android/
* http://devdeeds.co

[2019-04-24 00:41] #281 closed

[2019-04-24 15:10] Giolly90 opened #286 "Italian translation"
I just completed Italian translation on Transifex, now what's next?
Can I check the result and optimize?

[2019-04-26 13:00] github-tomster opened #287 "Android 4.x - AppCrash since v3.3.0 due to MotionLayout"
**Summary:**

app since version 3.3.0 crashes on appstart

**Steps to reproduce:**

open drawer, tap gpstest icon, toast appears: gpstest died

**Expected behavior:**

to work like version 3.2.10

**Observed behavior:**

it crashes...

**Device and Android version:**

samsung galaxy note 3
android 4.4.2 stock
f-droid installation

**LogFile attached**
[gpstest.txt](https://github.com/barbeau/gpste

[2019-04-27 19:10] barbeau commented on #287
Thanks for reporting this! This is an earlier version of Android so it's going to be a little harder for me to reproduce, as it doesn't seem to happen on later Android versions.

Do you still see the crash if you uninstall and reinstall the new version of the app?

[2019-04-28 11:37] github-tomster commented on #287
yes, i tried to uninstall and start clean with the same result of the crash.
only downgrading helps.
i wish you the best success to find the right code 👍

[2019-04-30 01:25] barbeau commented on #286
@Giolly90 Thanks for doing this!  Yes, I'll produce a new build shortly that you can test.

[2019-04-30 01:28] barbeau commented on #287
@github-tomster Are you installing the new version of GPSTest directly from F-Droid, or are you downloading and installing the APK from GitHub or somewhere else?

[2019-04-30 07:39] github-tomster commented on #287
@barbeau
f-droid, indeed that is correct.

[2019-04-30 11:56] lbdroid opened #288 "Improve landscape layout of Sky view"
Its clearly using the same layout as in portrait mode, where it is sizing the skyview to fit the width on the screen. In the case of landscape orientation, the width is greater than the height, which means that the view is cut off unless you scroll.

In landscape mode, it should have a different layout, with the legend perhaps *beside* the skyview instead of below it.

[2019-04-30 14:14] lbdroid opened #289 "Show Status details in Sky view"
Nor, for that matter, is the cn0 indicator, which is more or less just a summary of what is already visible in the skyview.

It would be much more useful to have status details visible along with the skyview - lat, lon, alt, dop, etc.

I'd suggest a popup for the legend/cn0. Tap in the skyview to bring it up, tap out of the popup to dismiss it.

[2019-04-30 16:43] barbeau commented on #289
@lbdroid Thanks for the feedback!  I'll consider this when working on new features.

[2019-04-30 16:44] barbeau commented on #288
@lbdroid Thanks for the feedback!  I agree that this could be improved.

[2019-04-30 17:02] barbeau commented on #286
@Giolly90 Could you please uninstall the current version on your device and install this version and test?

https://www.dropbox.com/s/6e95qg800jjx94r/GPSTest-google-debug.apk?dl=0

[2019-04-30 17:18] barbeau commented on #286
Sorry, please try this one instead:
https://www.dropbox.com/s/abry1x44hz7eufh/GPSTest-google-debug.apk?dl=0

[2019-04-30 19:20] Giolly90 commented on #286
Thank you! I installed the new version and I am very happy with the result!
I looked through all the menus and settings and now I would like to fix some little problems and improve some translation.
I will work on this starting from 6th May, I'll let you know when I'm done asap

[2019-05-01 00:22] barbeau commented on #276
@jabozksl Friendly ping - do you agree to the CLA above for contributing the Russian translation?

[2019-05-01 16:20] barbeau commented on #276
@jabozksl Great!  I've uploaded them here:
https://www.transifex.com/sean-barbeau/gpstest-android/language/ru/

From now on, you can use Transifex to do the translation, which should make it much easier.

Please take a look at the Transifex link - I think there are a few strings that were added after you did your initial translation.  If you can add this via Transifex I'll then download and load t

[2019-05-02 22:26] ionkarolos commented on #268
Hello did you solve the problem with the accumulated delta range on Xiaomi Mi 9. I would like to buy this phone in order to implement a PPP wizard on this device so I need access to carrier phase measurements. I have already the Xiaomi Mi 8 and doesn’t have any problems regarding with accumulated delta range. Thanking you in advance.

[2019-05-03 15:05] goldfndr commented on #288
As more satellites become usable, having this large layout available can help graphically distinguish particular satellites that are close to the same elevation+azimuth. [GNSS View](https://play.google.com/store/apps/details?id=com.nec.android.qzss.gnssview) can be used on Android devices that lack specific constellation access to show what this crowded view currently looks like.

[2019-05-03 15:10] goldfndr commented on #12
[GNSS View](https://play.google.com/store/apps/details?id=com.nec.android.qzss.gnssview) can be used to show what this might look like. (It apparently downloads positions and displays them for arbitrary locations, so it includes satellites that the GNSS receiver isn't actually receiving.)

[2019-05-03 22:07] #284 closed

[2019-05-03 22:39] barbeau commented on #287
So it looks like this is an issue in the underlying Google ConstrainLayout library I'm using for MotionLayout in the alpha2 version:
https://www.reddit.com/r/androiddev/comments/b9nqxm/constraintlayout_200_alpha_4/ekhovyg/

I've tried alpha5 version of the library although that has issues with the TextViews for setting latitude/longitude/altitude in Accuracy view not laying out correctly:
https://

[2019-05-06 07:49] Atlanta88 commented on #268
Hey,
For the moment, no feedback has allowed me to operate the phase measurement. The last update of the phone did not a priori change anything. Looking at the python code, it seems that 16 in AccumulatedDeltaRange meaning an android error on the measurement of time.
I haven't found any solution yet, I make a post on the issue tracker of Goggle, but no answer for the moment...

[2019-05-06 11:37] barbeau commented on #268
@Atlanta88 Could you add a link to your Google issue here?

[2019-05-06 19:42] Schyrsivochter commented on #287
Confirming, this issue is present on Android 4.1.2, too.

[2019-05-07 06:19] Atlanta88 commented on #268
@barbeau Yes of course : https://issuetracker.google.com/issues/128623751

[2019-05-09 16:25] barbeau opened #292 "Support receiving benchmark location from BenchMap"
**Summary:**

A user requested that GPSTest be able to receive benchmark positions directly from the BenchMap app:
https://play.google.com/store/apps/details?id=com.tsqmadness.bmmaps&hl=en_AU&rdid=com.tsqmadness.bmmaps

I've sent an email to the developer to learn how this could happen.

**Steps to reproduce:**

1. Launch BenchMap
1. Tap a button in BenchMap to open GPSTest in Accuracy view with t

[2019-05-09 16:33] barbeau opened #293 "Support importing Accuracy ground truth location from QR code or NFC"
**Summary:**

If you need to repeatedly set precise benchmark locations for Accuracy, typing them is a pain and tapping on the map isn't precise.

We can add scanning of benchmark locations from QR Codes generated using tools like Zxing:
http://zxing.appspot.com/generator/

It encodes the data in the [Geo URI scheme](https://en.wikipedia.org/wiki/Geo_URI_scheme):
`geo:26.45454,38.2535,23`

Additio

[2019-05-09 16:54] Giolly90 commented on #286
Hi Sean, I made the changes, can you please send me a new version of the app?

I have also some questions to make a better translation:
- What are Assist data, XTRA data and Time data?
- What is callback status?
- Can you please make an example of Diluition of Precision?
- Can you please explain better how Precsion tab works?

Can you add me in the Acknowledgments as contributor for Italian transl

[2019-05-09 17:17] barbeau commented on #276
@jabozksl Thanks for working on this! Here's a version to test that includes the Russian strings:
https://www.dropbox.com/s/abry1x44hz7eufh/GPSTest-google-debug.apk?dl=0

Could you please work on shortening some of the strings?  You can see that even on a wide device like the Samsung Galaxy S8+ some of the strings are too long and cause wrapping, overlapping, or pushing values off-screen:

![image

[2019-05-09 17:25] barbeau commented on #286
@Giolly90 Thanks!  Here's a new version:
https://www.dropbox.com/s/abry1x44hz7eufh/GPSTest-google-debug.apk?dl=0

Also note that in this version you can change the language in Settings, if that helps.

See https://github.com/barbeau/gpstest/blob/master/FAQ.md#what-are-the-menu-buttons-for

This is more of an error code that the user really isn't intended to understand, but they could tell me this

[2019-05-09 17:35] barbeau commented on #286
Quick note - some of the strings on the top of "Status" screen ("Stato") need to be shortened - even on a wide Galaxy S8+ they are pushing values off-screen:

![image](https://user-images.githubusercontent.com/928045/57474038-12312a80-7246-11e9-8d3a-4cbd1446316c.png)

[2019-05-09 17:55] Giolly90 commented on #286
When I install new app from the link you sent, I don't see the last changes made in Transifex. Can you please doublecheck?

The screen you've posted is infact from the old translation, maybe now I've fixed the "space" iasue

[2019-05-09 19:35] barbeau commented on #286
Thanks for letting me know!  For some reason the tool doesn't always seem to pull the latest unless I force it.  This one should be updated:
https://www.dropbox.com/s/z7q9jcmdqp6pp87/GPSTest-google-debug.apk?dl=0

Closer, but still some cutoff:
![image](https://user-images.githubusercontent.com/928045/57481417-ee2a1500-7256-11e9-8cff-50745723969f.png)

[2019-05-09 20:08] jabozksl commented on #276
Hi, I've made some changes based on your screenshot, because the app, which I got from dropbox, doesn't show interface in Russian. But German interface works well as I tested on my devices.

[2019-05-10 01:33] barbeau commented on #276
@jabozksl What Android system locale (language) is selected on your device?  The Russian translation should be showing up by default within the app if you have the Russian language set system-wide on your device.

When testing the Russian translation you should either change your Android system locale to "Russian" in your main Android system Settings menu, or use the new GPSTest app Setting for "L

[2019-05-10 02:08] jabozksl commented on #276
Yep, locale is set to Russian and I can't find any "Language" section in Settings of GPSTest. Here are some screenshots
![sssssss](https://user-images.githubusercontent.com/49700159/57497717-7bb24700-72e1-11e9-8792-ef71fd1425be.jpg)

[2019-05-10 02:13] jabozksl commented on #276
And here is the MD5 of apk, which I've downloaded here
b3beb65052a0d9fa2880ed6c32e9e931  GPSTest-google-debug.apk

[2019-05-10 04:44] barbeau commented on #276
Ok - could you please try uninstalling your current version and install this one:
https://www.dropbox.com/s/z7q9jcmdqp6pp87/GPSTest-google-debug.apk?dl=0

You should see the Language setting in GPSTest under the "Use Dark Theme" option in Settings - if you don't please let me know.

[2019-05-10 05:08] jabozksl commented on #276
Got it, but still no Russian or even German now
![S90510-07593120](https://user-images.githubusercontent.com/49700159/57503737-246ca080-72fa-11e9-85a4-62d6cadde1eb.jpg)

[2019-05-10 05:10] barbeau commented on #276
Alright - let me take a closer look at what's going on

[2019-05-10 13:00] Giolly90 commented on #286
Hope the last changes will fix all the cutoff, please share the new version and if you can also the Status screenshot from your device (with my device everything was fine also with the old release)

Thanks!

[2019-05-14 16:59] barbeau commented on #276
@jabozksl Here's a screenshot of the latest Russian translation on a Samsung Galaxy S8+:

![image](https://user-images.githubusercontent.com/928045/57716208-75f09480-7646-11e9-898a-8240b0cc5b8a.png)

Closer, but we still need to trim off characters to avoid the top right column from extending off the page and the column headers in the 2nd card to get the headers to align right with the columns.

P

[2019-05-14 17:16] barbeau commented on #286
@Giolly90 Most recent translation for Status looks good on Galaxy S8+, thanks!

![image](https://user-images.githubusercontent.com/928045/57717843-14322980-764a-11e9-8c8a-8e906bf0f5be.png)

On the Accuracy screen, would it be possible to reduce the summary text to one line so that the bottom of the button isn't cut off?

![image](https://user-images.githubusercontent.com/928045/57718009-670be100-7

[2019-05-14 17:17] barbeau commented on #276
Also, on the Accuracy screen, would it be possible to reduce the summary text to one line so the bottom of the button isn't cut off?  It's currently cut off because the summary text overflows to two lines:

![image](https://user-images.githubusercontent.com/928045/57718153-adf9d680-764a-11e9-956b-1dccf4166f07.png)

[2019-05-14 17:28] barbeau opened #294 "Shorten Czech translation"
**Summary:**

@LLZN on the Czech translation, after you get a fix the top right column on the Status page hangs off the edge of the screen - see below on a Samsung Galaxy S8+:

![image](https://user-images.githubusercontent.com/928045/57718624-c3bbcb80-764b-11e9-95b8-1eb86b5cbf3d.png)

Also, on the Accuracy screen, could you try to reduce the summary text to one line so that it doesn't push the bu

[2019-05-14 19:13] jabozksl commented on #276
Done. It must look much better now.

[2019-05-14 19:15] LLZN commented on #294
FIX Czech translation

út 14. 5. 2019 v 19:28 odesílatel Sean Barbeau <notifications@github.com>
napsal:

[2019-05-15 10:15] Giolly90 commented on #286
All done! Hopefully this is the def. version for Italian translation.
As always, please send me an updated relase to test a bit

[2019-05-15 12:20] goldfndr commented on #286
I'm curious about the "m s.l.m." translation for Mean Sea Level. Shouldn't it be more like "livello medio del mare"? Alteratively, what is the Italian expansion (words) of "m s.l.m."?

[2019-05-15 17:05] Giolly90 commented on #286
I started from the diction: Metres above sea level, in Italian: Metri Sul Livello del Mare (m s.l.m.)

[2019-05-15 17:21] barbeau commented on #286
@Giolly90 New translation looks good, thanks!

![image](https://user-images.githubusercontent.com/928045/57795516-2ed0d500-7714-11e9-8882-5d50e9bef70d.png)

I'm going to close this issue and will work on pushing out a new beta with the changes.

[2019-05-15 17:21] #286 closed

[2019-05-15 17:24] barbeau commented on #276
@jabozksl Thanks, that's much better!

![image](https://user-images.githubusercontent.com/928045/57795742-b74f7580-7714-11e9-9fa3-b20830d1ebeb.png)

I'm going to close this issue and will work on pushing out a new beta with the translation.

[2019-05-15 17:26] #276 closed

[2019-05-15 17:31] barbeau commented on #294
@LLZN Thanks!  That fixed the "Accuracy" screen, and "Status" is better.  But, "Status" width still needs to be reduced by a few characters:

![image](https://user-images.githubusercontent.com/928045/57796074-80c62a80-7715-11e9-87b2-9c2f1e260110.png)

I know it's a challenge but just try to get something that still makes sense but fits.  If the abbreviation needs additional explanation please add

[2019-05-15 19:33] LLZN commented on #294
fix czech translation

Dne st 15. 5. 2019 19:31 uživatel Sean Barbeau <notifications@github.com>
napsal:

[2019-05-16 12:05] goldfndr commented on #286
@Giolly90 I suspected that. In that case, the "m" at the start is redundant and possibly inaccurate (units are shown after the number and can be changed to feet) and perhaps just "s.l.m." should be shown.

[2019-05-16 12:59] Giolly90 commented on #286
Got your point @goldfndr ! And yes, you're right, I've made the change on Transifex leaving only "s.l.m." and also changed the Help section consequently.
Thank you!

[2019-05-16 17:56] barbeau opened #295 "Indicate errors in CF output in UI"
**Summary:**
As mentioned in https://forum.xda-developers.com/showpost.php?p=79538493&postcount=245 and shown in https://medium.com/@papylepian/mi-9-9140f7db50da, some devices like the Xiaomi Mi 9 have obviously wrong CF output, like two "L1" signals for the same GNSS.

I'd like to flag this output in the GPSTest UI - perhaps just coloring the font red would be sufficient for a first iteration.

R

[2019-05-20 16:00] barbeau commented on #294
Thanks @LLZN!  That's definitely better.  If you can shave another character off that would be ideal, but if not it's ok as-is too:

![image](https://user-images.githubusercontent.com/928045/58035494-e68c2b00-7af6-11e9-9ebe-2ac26ed49ce6.png)

[2019-05-20 16:00] #294 closed

[2019-05-20 16:32] barbeau commented on #287
From some testing it looks like the beta1 release has fixed some of these issues, although it requires some re-work for the new version.  I'll try pushing out a new beta with this and hopefully it should solve the issue.

[2019-05-20 17:12] github-tomster commented on #287
we will see.
thank you for looking into it.

[2019-05-21 03:23] goldfndr commented on #294
@barbeau Unless there's a language in which the translation of "time" is longer than the translation of "accuracy" and other texts, or you anticipate other lengthy values, the space between columns 2 (Lat/Long values) and 3 (Time, abbreviation of TTFF) can be eliminated without fear of legibility impacts.

Or perhaps not -- I don't know if TableLayout permits varying column spacing. Perhaps settin

[2019-05-21 04:34] LLZN commented on #294
Hello, if I changed the phrase "Přesn. (H/V)" to "Přesnost", it would
shorten the characters.  But then the expression would be identical to
horizontal accuracy.  It is virtually impossible to reduce the number of
characters in the Czech language without losing any meaning.  Thank you L.

Dne po 20. 5. 2019 18:01 uživatel Sean Barbeau <notifications@github.com>
napsal:

[2019-05-21 16:20] barbeau commented on #294
@LLZN That's fine, we can leave it as-is.

@goldfndr Good idea, I'll look at tweaking the layout.  It's been a while since I touched that, if ever...

[2019-05-22 18:20] barbeau commented on #287
@github-tomster and @Schyrsivochter v3.3.2 is now rolling out that contains this fix - could you please give it a try and see if it resolves the crash?

[2019-05-25 09:16] cvzi commented on #287
v3.3.2 works for me again on android 4.4.2. Thanks for the great work!

[2019-05-25 16:09] barbeau commented on #287
Great!

[2019-05-31 21:50] barbeau commented on #105
Looks like Android support for `CONSTELLATION_IRNSS` was just added in Android Q docs:
https://developer.android.com/reference/android/location/GnssStatus.html#CONSTELLATION_IRNSS

...so we can now add support to GPSTest.

Looks like perhaps the Lenovo Z6 Youth Edition will be the first device to support IRNSS - see the links in this post:
https://groups.google.com/d/msg/gpstest_android/6v9cTi1iT-

[2019-06-03 08:27] github-tomster commented on #287
i can also confirm: 3.3.2 works again. thank you!

[2019-06-05 17:54] barbeau opened #296 "Support Accuracy ground truth altitude in MSL"
**Summary:**

In the current Accuracy feature within GPSTest, you can enter a ground truth location for the app to compare against the GNSS calculated position to determine horizontal and vertical error.

Currently the altitude for the ground truth location must be entered in meters above the WGS84 ellipsoid, which is the way that GNSS receivers represent altitude (same reference is used for latit

[2019-06-05 19:34] spaetz opened #297 "gps not turned off when 'closing' app"
**Summary:**
While gpstest is running, the location icon is shown, ie the gps is turned on. When closing the app by pressing the home button or the 'app switch button', the icon is still shown and battery drains quicker. As soon as the app is 'swipe-closed' in the app overview or it is force-closed in the app details page, the location icon disappears.

**Expected behavior:**
When gpstest is not i

[2019-06-06 00:27] goldfndr commented on #296
Even worse, [some phones don't report MSL accurately](https://forum.xda-developers.com/showpost.php?p=79283870&postcount=9):

* [duplicates on Huawei P30 Pro](https://medium.com/@nignikool12/here-are-3-screenshots-from-huawei-p30-pro-f804682dbde6) (or [332,3 m](https://groups.google.com/forum/#!topic/gpstest_android/kVdGi6WyKlQ))
* [-55.1 m for both on Huawei Mate 20 Pro](https://medium.com/@luksp

[2019-06-06 00:39] goldfndr commented on #297
Duplicate of #237; look in GPSTest's Settings for a "Stop GNSS in background" (or translated equivalent) near the bottom in the "GNSS" category.

(Also, see [my comment](https://github.com/barbeau/gpstest/issues/237#issuecomment-439209286) about how pressing Home isn't an Android method of closing an app, it puts the app in the background; the Back button can be used to close an app.)

[2019-06-06 06:03] spaetz commented on #237
Sorry for the duplicate issue, apparently I have not been searching hard enough.

I understand your arguments (and yes I am aware of the difference between suspended and exited apps), however I would suggest this needs.improvements anyway. Suspended apps are not a background service and the OS is free to kill them anytime. In recent versions of Android the trend has been towards 'never quit apps'

[2019-06-06 08:59] spaetz commented on #237
P.S. Just now discovered the setting which disables GPS when the app is suspendend. Perfect, thanks a bunch for GPStest!

[2019-06-07 07:00] StefT3 commented on #296
maybe a way:
http://epsg.io/8037

[2019-06-08 12:49] ammarraisafti opened #298 "Add a "Satellite filter" feature"
# Components
The following are the feature components that I want to recommend:

- Satellite filter

Provide options for displaying GPS, displaying GLONASS, displaying GALILEO, BEIDOU shows, QZSS shows, SBAS shows, and shows without being noticed.

# Proposal description
I propose to the GPSTest application developer to add the "Satellite Filter" feature at the top of the main display of the GPSTe

[2019-06-10 15:58] barbeau commented on #298
@ammarraisafti Thanks for the feedback!  I agree, a feature to filter the visible satellites would be useful.

[2019-06-10 16:01] barbeau commented on #297
Thanks for the feedback!  Yes, I'm closing this as a duplicate of https://github.com/barbeau/gpstest/issues/237, but I'll comment further there on a better implementation of background activity.

[2019-06-10 16:01] #297 closed

[2019-06-10 16:07] barbeau opened #299 "Run GPSTest as foreground Service when in background"
**Summary:**

GPSTest was originally implemented to remaining running in the background when you press the Home key.  As discussed in https://github.com/barbeau/gpstest/issues/237 and https://github.com/barbeau/gpstest/issues/297, this has been interpreted to be a feature, not a bug, as it can be helpful to prime GPS in some situations.

However, given the advances in Android since 1.5, background

[2019-06-10 16:07] barbeau commented on #237
@spaetz I agree that background execution needs some improvement to catch up to current Android best practices. I opened an issue here to have GPSTest run as a foreground Service when in the background - https://github.com/barbeau/gpstest/issues/299.

[2019-06-11 01:05] Tony-il-Capo commented on #287
Hi
I'm sorry, but I still have this problem on my old Xperia S, app crash right at start, logcat is similar to the above
[logcat](https://github.com/barbeau/gpstest/files/3274327/logcat.txt)

Last version that works on this device is 3.2.10

[2019-06-11 16:19] barbeau commented on #296
@StefT3 Thanks!  Looks like this is a hosted web service to do the conversion - I believe this is the format:
https://github.com/klokantech/epsg.io#api-for-trans

[2019-06-11 16:20] barbeau commented on #287
@Tony-il-Capo What Android version is this device running, and is it the original OEM version or a custom ROM?

Also, can you please try the following steps with both of these APKs and let me know if you see the crash on both versions?

* https://github.com/barbeau/gpstest/releases/download/v3.3.2/googleRelease-v3.3.2.apk
* https://github.com/barbeau/gpstest/releases/download/v3.3.2/osmdroidReleas

[2019-06-14 14:54] ammarraisafti opened #301 "Two very interesting and useful new features in the GPSTest app"
# Components
The following are the feature components that I want to recommend:

- NMEA Log
- Info

# Proposal
Propose to the GPSTest application developer to add the "NMEA Log" feature in the shortcut section of the selection, and give the user access to save the Path in the SD card to see the state and health of the satellite.

And propose to the developer of the GPSTest app to add the "Info" fe

[2019-06-15 14:36] Tony-il-Capo commented on #287
Sorry for the late reply, too busy...
Unfortunately they both crash, I had tested them before and to make sure just retested them now, both crash at start.

[2019-06-15 14:38] barbeau commented on #287
@Tony-il-Capo What Android version is this device running, and is it the original OEM version or a custom ROM?

[2019-06-15 14:40] Tony-il-Capo commented on #287
Sorry, I forgot, I was just editing comment... anyway...

Device runs Android 4.1.2 with just 'minor' tweaks.
As I said before v 3.2.10 runs OK.

[2019-06-15 15:40] barbeau commented on #287
@Tony-il-Capo What are "minor tweaks"?

[2019-06-16 08:23] Tony-il-Capo commented on #287
Little things, like no background process (low priority/importance) allowed, removed gapps, removed google services, init.d added, force GPU composition... iptables firewall script... obviously  root access, can't remember anything more.

Most of those should not be an issue, only, maybe if an app depends on google services...

[2019-06-17 21:47] barbeau opened #302 "Failed build on latest Gradle version - Could not find method leftShift()"
**Summary:**

When updating to `classpath 'com.android.tools.build:gradle:3.4.1'` and Gradle 5.1.1, when trying to build the project it fails with the below stacktrace:

[code]

**Steps to reproduce:**

Bump to `classpath 'com.android.tools.build:gradle:3.4.1'` and Gradle 5.1.1

**Expected behavior:**

Build project successfully

**Observed behavior:**

Build fails with above stack trace.

**Devic

[2019-06-17 22:00] #302 closed

[2019-06-17 23:21] barbeau commented on #287
@Tony-il-Capo I'm going to re-open this as it's likely related to comparability issues with the Google ConstraintLayout library I'm using for MotionLayout for Android 4.1.x (API level 16).  It's possible Google fixed the compatibility issue with Android 4.4.x (API level 19) but not the older version of Android.  In other words, fixing this issue will required Google fixing the bug in ConstraintLay

[2019-06-17 23:41] barbeau opened #303 "Support logging NMEA data to file"
**Summary:**

As mentioned in https://github.com/barbeau/gpstest/issues/301, it would be nice to be able to log NMEA data to a file.  Right now we have a limited ad-hoc logging solution to log via Android Studio (see https://github.com/barbeau/gpstest/blob/master/LOGGING.md).

Related to logging GNSS raw measurements as specified in https://github.com/barbeau/gpstest/issues/66.

**Steps to reprodu

[2019-06-17 23:42] barbeau commented on #301
@ammarraisafti Thanks for the feedback!  It looks from the screenshot you're running a very old version of GPSTest?  Things like PDOP, VDOP, HDOP, Speed, Bearing, etc. should all appear in the top of the Status screen (if supported by your device).

I just opened this issue to focus specifically on NMEA logging - https://github.com/barbeau/gpstest/issues/303.  Note that there is currently an ad-ho

[2019-06-17 23:42] #301 closed

[2019-06-17 23:47] barbeau commented on #287
@Tony-il-Capo Also FYI, you can always download old releases as a workaround for now from https://github.com/barbeau/gpstest/releases.

[2019-06-18 12:56] Tony-il-Capo commented on #287
Thanks.

So, unlikely to happen? If so, will you drop compatibility for older android versions?

[2019-06-18 16:17] barbeau commented on #287
@Tony-il-Capo I wouldn't saw unlikely if the issue was already fixed for Android 4.4, but just an unknown timeframe. I would only drop compatibility for older Android versions if the library forced me to do that.

On this note, the original [introduction for MotionLayout from Google](https://medium.com/google-developers/introduction-to-motionlayout-part-i-29208674b10d) said the following:

API lev

[2019-06-21 06:33] ammarraisafti opened #304 "Add GENERAL feature in the application GPSTest"
# Components
The following are the feature components that I want to recommend:

- General

# Proposal
proposed features "general" at the look application main gpstest, and modify the section to provide features "fundamental settings", and added features language, enabled expert mode, enable dump mode, and features extensive large file, as well as provide users access to set the feature in accorda

[2019-06-21 11:48] barbeau commented on #304
@ammarraisafti while I appreciate the feedback and ideas in these issues, I'm getting the feeling that you're not really taking a close look at the current application before making some of these suggestions. The screenshots you're using for mockups are from very old versions of GPSTest. The app currently has a setting for changing the language.

Could you please do me a favor and install the last

[2019-06-21 11:48] #304 closed

[2019-06-25 21:17] ammarraisafti opened #305 "Add the "Measurement Unit" feature and the "Location Services" feature in the GPS Test application"
# Components
Gpstest is an open source application for android devices that is useful for testing GPS on devices to work or not and display real-time satellite information on an Android device, its simple appearance makes this application very easy to use, very small file sizes make this application run with  smoothly.

<code>After using this application a few weeks to test and display real-time s

[2019-06-25 21:59] barbeau commented on #305
@ammarraisafti Please see my comment here - https://github.com/barbeau/gpstest/issues/304#issuecomment-504397463.

[2019-06-25 21:59] #305 closed

[2019-06-26 07:16] Giolly90 commented on #286
Hi Sean, I just made a little fix within the Italian translation, can you force the update to have it shown in the app? Or do we have to wait for the next release?

Thanks!

[2019-07-02 04:41] haroon-ali opened #306 "GPStest is instantly stopped on screen off"
**Summary:**

I try to make use of GPStest logging feature. But once the screen is turned-off logging is instantly stopped.
GPStest should be kept running unless I explicitly stop it.

**Steps to reproduce:**

Run GPStest, watch logcat, turn screen off, no more logging.

**Expected behavior:**

Keep running and logging.

**Observed behavior:**

It stops working.

**Device and Android version:**

X

[2019-07-02 05:28] haroon-ali opened #307 "Allow smaller than a second GPS fix intervals"
**Summary:**

GPS fix interval  values smaller than 1 second, like 0.2 for example, doesn't work.

**Steps to reproduce:**

In settings, set GPS fix interval to 0.2. Go to main screen, it says "Starting with GPS interval = 0.2" But actually it only fixes and logs once per second.

**Expected behavior:**

To get fix according to interval setting.

**Observed behavior:**

It gets a new fix only once

[2019-07-02 07:50] haroon-ali commented on #306
Follow-up:
I could work-around the reported problem by the following steps:
1. Rooted the phone using magisk
2. Modified GPStest manifest file and added android:persistent="true" there, and rebuilt the apk.
3. Installed my modified apk, and using app-systemizer magisk module and made it a system app

Now it's not killed on screen off :+1:

[2019-07-02 08:11] haroon-ali commented on #306
Follow-up 2:
It seems that the previous solution is not always working :(

[2019-07-02 11:47] brucechase commented on #307
I have built numerous test programs that incorporate about every
conceivable function calls having to do with GNSS and GPS for the Android
phone.The tests programs were using the latest Android version (P) at the
time.  The results were always the same.  No test program could gain
accuracy greater than 1 Hz (1 per second).

Like you, I would like 5 Hz (5 times per second) or better for a specific

[2019-07-02 17:34] barbeau commented on #286
@Giolly90 Unfortunately all updates to translations require a new app release.  I'm working on that now, though, so the change will be visible in the next release.

[2019-07-02 18:08] barbeau commented on #307
@haroon-ali thanks for the report!  As @brucechase mentioned, unfortunately this is a property of the device you're testing on.  The Android platform and GPSTest both support request a sub-second interval, but ultimately it's the device that controls how frequently an updated position is sent to the app. So you'd need to ask your device OEM why it doesn't support sub-second update intervals.  If y

[2019-07-02 18:08] #307 closed

[2019-07-02 18:09] barbeau commented on #299
As mentioned in https://github.com/barbeau/gpstest/issues/306, users would also like to be able to log to Android Studio and eventually files when the screen turns off - this is the same issue.

[2019-07-02 18:11] barbeau commented on #306
@haroon-ali Yes, currently behavior will be a bit erratic when the app is minimized (including when the screen is turned off), as it really wasn't initially designed to run in the background.  I have an open issue here for true background execution support - https://github.com/barbeau/gpstest/issues/299. I added a comment there for your use case, so I'm going to close this issue.

For now the only

[2019-07-02 18:11] #306 closed

[2019-07-04 08:22] Jaaaky opened #308 "Support NMEA messages to external devices over usb/serial"
**Summary:**

I'd like to get nmea messages - and other types of logs supported by GPStest - over USB serial connection - for example FTDI connected to USB - to be able to analyze through external devices.

**Steps to reproduce:**

Connect FTDI cable on android OTG USB

**Expected behavior:**

GPStest handles the device and sends logs over it.

[2019-07-08 18:15] barbeau commented on #308
@Jaaaky Thanks for the suggestion!  This probably wouldn't be too hard to implement - here's a library that looks promising:
https://github.com/felHR85/UsbSerial

I don't have the equipment to test though - if I work on this, would you be able to test on real equipment and provide feedback on whether it works?

[2019-07-08 18:21] barbeau opened #309 "Status view - Vertical accuracy can be reported as 0.0"
**Summary:**

In the Status view, vertical accuracy can be reported as `0.0` if not supported by the device - see
https://groups.google.com/d/msg/gpstest_android/6v9cTi1iT-s/iZxxM6tqCgAJ

It should be empty if vertical accuracy isn't supported.

**Steps to reproduce:**

Go to Status view when device doesn't support vertical accuracy (but is Android Oreo or greater version)

**Expected behavior:**

[2019-07-08 18:28] haroon-ali commented on #308
Yes, I can. I can send you some list of usb vendor:device numbers.

[2019-07-08 18:33] Jaaaky commented on #308
I have the equipment, yes. So I can test.

[2019-07-08 18:34] Jaaaky commented on #308
@barbeau They work with the mentioned library.

[2019-07-09 17:28] barbeau commented on #292
After further discussion with the BenchMap developers, we have two use cases:
1. When a survey marker don't have accurate location metadata - BenchMap shows the user that this survey marker needs improved data.  User chooses to send marker data to GPSTest with "imprecise" flag, GPSTest can prompt them to collect data and share back to Benchmap.
1. When a survey marker does have accurate location m

[2019-07-09 18:01] #309 closed

[2019-07-10 20:43] rick-gse opened #310 "Screen rotation turns off satellite updates on Status screen"
**Summary:**

Using version 3.3.2 of GPSTest

Rotating screen turns off the satellites updates on the Status screen.

**Steps to reproduce:**

Show status screen in portrait mode, satellites are updating.
Rotate screen to landscape. Satellites stop updating.

**Expected behavior:**

Satellites should stay updating after rotation.

**Observed behavior:**

Satellites stop updating.

**Device and And

[2019-07-10 22:01] barbeau commented on #310
@rick-gse Could you include a screenshot of your Settings in GPSTest? And if you uninstall and re-install can you reproduce this every time with the default settings?

I can't reproduce this in v3.3.3 on a Samsung Galaxy S8+ w/ Android 9.  You might want to try v3.3.3 as well (rolling out to production now, but you can get it immediately if you join the beta group at https://play.google.com/apps/t

[2019-07-10 22:02] barbeau commented on #310
Note that the resetting of satellites on Status is expected - the GPS re-initializes when you rotate the app.  So if you're in a place where it's hard to get a fix, you may need to wait a while for the satellites to re-appear.

[2019-07-10 22:16] rick-gse commented on #310
Re-installing fixed it, so I did some testing, it's the "Stop GNSS in background" setting. When this is ON, rotation stops the updates, when it is off, rotation does not stop the updates.

![Screenshot_20190710-160336](https://user-images.githubusercontent.com/5148601/61008865-0210f680-a32e-11e9-8c2f-8965c34da012.png)

![Screenshot_20190710-160348](https://user-images.githubusercontent.com/5148601

[2019-07-10 22:23] rick-gse commented on #310
Also ran it in the android emulator using the current code, and it did the same thing.

[2019-07-10 22:35] rick-gse commented on #310
This seemed to fix it, change onPause in GpsTestActivity.java to add a check for orientation change:

        // Check if the user has chosen to stop GNSS whenever app is in background
        if (**!this.isChangingConfigurations() &&** Application.getPrefs().getBoolean(getString(R.string.pref_key_stop_gnss_in_background), false)) {
            gpsStop();
        }

[2019-07-11 17:33] barbeau commented on #310
@rick-gse Thanks!  I'll take a look.

[2019-07-11 17:53] #310 closed

[2019-07-11 17:55] barbeau commented on #310
@rick-gse Thanks for the proposed code!  I looked at a few possible solutions and given the complicated history of how GPSTest currently "works" in the background this is the simplest solution.  Ultimately background execution will be properly fixed in https://github.com/barbeau/gpstest/issues/299.

[2019-07-11 17:58] gse-rick commented on #310
Glad to help. I also looked at also not stopping the listeners, but was worried about unintended consequences.

[2019-07-12 19:38] barbeau commented on #246
We ran into a license issue accepting this particular text in PR https://github.com/barbeau/gpstest/pull/250, so I'm closing this issue out.  If someone else wants to contribute a French translation I'd love to accept it - see https://github.com/barbeau/gpstest/blob/master/TRANSLATIONS.md for instructions.

[2019-07-12 19:38] #246 closed

[2019-07-15 11:53] Mikaela opened #313 "Feature request: list GNSS which my phone supports"
**Summary:**

I wish the Status or a similar tab told me which GNSS my phone supports directly saying yes/no.

E.g.:

* GPS: yes
* Glonass: no
* Galileo: no
* etc.

**Steps to reproduce:**

Open GPS Test for the first time without reading much about GNSS with question whether your phone supports Galileo or not. Even better test may be giving your phone with GPSTest open and asking them to quickly

[2019-07-19 15:37] barbeau commented on #313
@Mikaela Thanks, this is a good idea.  It could also cover displaying the info discussed inhttps://github.com/barbeau/gpstest/issues/265 and https://github.com/barbeau/gpstest/issues/295.

The caveat here is that Android APIs only tells applications about satellite properties in view of your device right *now* - there isn't any way to query general support for satellites.  So, for example, if your

[2019-07-23 21:06] barbeau commented on #12
Here's a Unity ARCore implementation of shooting stars that might be useful:
https://github.com/FusedVR/ARCore-Shooting-Star

[2019-07-25 09:10] mickhayes commented on #279
This is not a problem and working fine (text of both "NO" and "ENABLE GPS" buttons is white) in this environment:

App version: v3.3.1 (47-google)
Model: Samsung Galaxy A5 (2017) SM-A520F.
Android version: 8.0.0
Google Play Services App: 17.7.85

[2019-07-27 00:24] goldfndr commented on #279
It remains unsolved for me (text of NO and ENABLE GPS buttons is blue, identical to background, for both light theme and dark theme) in these environments:

App version: v3.3.4
Model: Samsung Galaxy Note4 SM-N910T
Android version: 6.0.1 / 23 (stock, not rooted)
Google Play Services App: 18.3.81

App version: v3.3.4
Model: Samsung Galaxy S5 SM-G900P
Android version: 6.0.1 / 23 (stock, not rooted)
G

[2019-07-27 11:05] mickhayes commented on #279
Fails on:
App version: v3.3.4
Model: Samsung Galaxy S5 SM-G903F
Android version: 6.0.1
Google Play Services App: 18.3.81

[2019-07-27 11:21] jayhayes commented on #279
Works fine on:
App version: v3.3.4
Model: Samsung Galaxy J5 (2016)
Android version: 7.1.1
Google Play Services App: 18.3.81

[2019-07-27 13:46] mickhayes commented on #279
Looking at:

    <string name="enable_gps_message">GPS is disabled. Enable it now?</string>
    <string name="enable_gps_positive_button">Enable GPS</string>
    <string name="enable_gps_negative_button">No</string>
in GPSTest/src/main/res/values/strings.xml and other lang alternatives.

enable_gps_positive_button used at: GPSTest/src/main/java/com/android/gpstest/GpsTestActivity.java thusly:

[2019-07-28 03:00] barbeau commented on #279
My guess is that the root cause of this issue is the Android X support libraries not applying theme colors correctly on Android 6.x. Would be worth some Goolging to see if others have encountered this.

[2019-07-28 03:32] barbeau opened #314 "Support more granular deletion of assist data"
**Summary:**

Looking at the Android source code, it appears that more granular options for deleting GNSS assist data are now available on newer versions of Android (I'm not sure which as of right now).

Previously, an app could send an "extra" command of `delete_aiding_data` to the `LocationManager` and on devices that supported this command the device would delete the assist data (an aside - I'm

[2019-07-28 03:50] barbeau commented on #314
Looks like this goes back to at least Android 8.0:
https://github.com/aosp-mirror/platform_frameworks_base/commit/282b594b688c731411622b252abbcb616901ae44#diff-f5c0ecdf63cc4f7857daa6525648c38b

Here's Git history from the GitHub mirror:
https://github.com/aosp-mirror/platform_frameworks_base/commits/master?after=8aa2b1dffd2eac9749116e92f5f9d6a7a62c5365+34&path%5B%5D=services&path%5B%5D=core&path%5

[2019-07-29 02:06] jyhpsycho commented on #287
I have Samsung Galaxy S2 HD LTE(Android 4.1.2, the latest official firmware). The latest gpstest version can use with that is 3.2.10. It seems that the MotionLayout is applied from 3.3.0(It just a guess because I'm not an android developer, and the release note does not say that). I don't know which part of this app using MotionLayout, but it seems that it may be replaced(I don't know what the mod

[2019-07-29 07:27] sm4rk0 commented on #314
And here's the file history before it was renamed in December 2015 (showing that `deleteAidingData` didn't change at least the last 11 years):
https://github.com/aosp-mirror/platform_frameworks_base/blame/efea96719708d3e1874ca372d574089cf84f2f57/services/core/java/com/android/server/location/GpsLocationProvider.java#L1242

[2019-07-30 02:05] barbeau commented on #314
@sm4rk0 thanks! You're right, looks like this actually goes way back - I'm guessing I just never looked at this part of the AOSP code before.

[2019-07-30 17:08] barbeau opened #315 ""Help->About" language doesn't change when language setting is changed"
**Summary:**

The language of the "Help->About" screen isn't currently affected by the "Setting->Language" setting.

**Steps to reproduce:**

1. Start the app on a device with one Android language setting (e.g., English)
1. Change to another language in GPSTest via ""Setting->Language" (e.g., Spanish)
1. In the nav drawer, go to "Help->About"

**Expected behavior:**

The "Help->About" screen shoul

[2019-07-31 02:48] #315 closed

[2019-07-31 02:55] barbeau commented on #279
Actually, looking at this more, this dialog actually *isn't* using the support library (it's using `AlertDialog.Builder` and not `androidx.appcompat.app.AlertDialog.Builder`), hence the issue.  I'll push a fix shortly.

[2019-07-31 02:58] #279 closed

[2019-07-31 17:03] barbeau commented on #287
I just tested the Google Constraint Layout v2.0.0-beta2 release (https://github.com/barbeau/gpstest/tree/constraintlayout-2-0-0-beta2), and I'm still seeing the crash on API level 16.  So, at this point, given the reference docs for MotionLayout and this release, I'm not confident that Google will fix this issue in the support library.

So yes, at this point v3.3 and higher of GPSTest will need to

[2019-07-31 17:13] barbeau opened #316 "OSMDroid - No map tiles on Accuracy view"
**Summary:**

If you open the OSMDroid build of GPSTest and go to the "Accuracy" view, the map tiles are blank.

I'm currently using Mapbox's satellite tiles for this, and apparently I've hit the free tier quota and they are no longer serving tiles. I've asked Mapbox about providing free credits but haven't heard back.

Another option might be OpenMapTiles:
https://openmaptiles.com/

...hosted via

[2019-07-31 17:17] barbeau opened #317 "Status view - On narrow screens rows spill over"
**Summary:**

On very narrow devices such as the Lenovo Z6 Youth (Lenovo Z6 lite?), on the Status screen the rows barely spill over.

From https://groups.google.com/d/msg/gpstest_android/vJU8UU5aMp8/9AhQe1jLBwAJ:

![image](https://user-images.githubusercontent.com/928045/62232923-65260400-b395-11e9-92bf-8eb44a801eb4.png)

**Steps to reproduce:**

Open app to Status screen on narrow screen device s

[2019-07-31 17:54] barbeau opened #318 "Accuracy view - Add fine-grained control over ground truth location marker"
**Summary:**

From a user:

**Steps to reproduce:**

1. Go to Accuracy view
1. Tap on the map to set a ground truth location

**Expected behavior:**

Give me a more precise way to adjust the map marker location

**Observed behavior:**

To adjust the map marker location you have to tap far away from the current marker location, and then try tapping in the first location again.

**Device and Android

[2019-07-31 17:57] #292 closed

[2019-07-31 18:10] barbeau commented on #317
Well, this might be a font issue again - I created an emulator with 6.30-inch display with a resolution of 1080x2340 pixels (from https://gadgets.ndtv.com/lenovo-z6-youth-edition-price-in-india-13079) and it looks like this:

![image](https://user-images.githubusercontent.com/928045/62236291-cb625500-b39c-11e9-8b7c-37b9b3f15e1d.png)

[2019-07-31 19:34] goldfndr commented on #279
Is it necessary to specify `androidx.appcompat.app.AlertDialog` rather than `AlertDialog`? The other files don't.

[2019-07-31 20:38] barbeau commented on #279
The other files import `androidx.appcompat.app.AlertDialog` at the file of the file, so it's fine to use just `AlertDialog` inline.  For some reason that I don't recall I had the fully qualified name `androidx.appcompat.app.AlertDialog` inline in GpsTestActivity - it can be changed to match the other files so instead of always using the fully-qualified name inline it's imported.  I'll change this

[2019-08-01 03:15] barbeau commented on #317
So I can come close to reproducing this with a 1018 x 2340 xxhdpi setting, although the emulator only fills the columns with "30.0" values, and I need 3 digits like "130" to push the character to the next line.

I'm going to fix this by clipping out the ".0" for azimuth and elevation, which also addresses a previous request for this feature.

[2019-08-01 03:21] #317 closed

[2019-08-02 10:34] mickhayes commented on #277
Looking at gpstest Settings (3.3.4) "Use Dark Theme"

Black is 0xff000000 in Alpha-R-G-B - https://developer.android.com/reference/android/graphics/Color

In GPSTest\src\main\res\values\colors.xml:

<color name="navdrawer_background_dark">@color/cardview_dark_background</color>

This has Alpha-R-G-B value: FF 20 20 20, i.e. not totally black.

[2019-08-02 13:49] barbeau commented on #277
@mickhayes The current theming in GPSTest is a mix of legacy Android themeing and manually adjusting colors when the legacy theme didn't work for whatever reason.  So unfortunately it's not going to be as simple as just changing `cardview_dark_background`.  I'm hopeful that the new system theme support for dark mode in Android (see above links in initial post) will simplify a lot of this code, alt

[2019-08-02 13:54] barbeau commented on #277
Here's the original commit that adding support for the dark theme, although the implementation has gotten more complex than with later additions to Sky and Accuracy views, etc.:
https://github.com/barbeau/gpstest/commit/3939beb447dba06971cec70e04b363307f5fefe5

But you can see the use of the system `AppTheme.Dark.NoActionBar` theme there.

[2019-08-02 19:43] goldfndr commented on #317
Thanks. For the record, that was #130 (my comments). Not ideal (I also am prone to bugging the other direction; see https://github.com/wiglenet/wigle-wifi-wardriving issue 27) but certainly good enough for every screenshot I've seen.

[2019-08-03 04:16] barbeau commented on #317
Just to clarify what the implementation actually does - the number is rounded to a single digit the same as before, but then the text is altered so if it ends with `.0` that part is removed.

So the value `13.0` will appear as:
* `13`

...but the value `13.1` will still appear as:
* `13.1`

[2019-08-07 09:04] MarcelTUC opened #319 "GPSTest - Design Patterns - Thesis Survey"
Ladies and Gentlemen,
as part of my master thesis at the TU-Chemnitz (Germany) in Applied Computer Science (Professorship Operating Systems, Supervision Dr. Marcus Hilbrich) I search for design patterns in Open Source Android applications and investigate how they got into the source code. If you don't know what design patterns are, that's no big deal. You can still support me.

One of the applicat

[2019-08-07 16:08] #319 closed

[2019-08-07 18:38] #287 closed

[2019-08-07 18:40] barbeau commented on #287
I'm re-releasing v3.2.10 as v3.2.11 with a higher versionCode than the latest version (v3.3.4) so devices <= 17 pick up this update instead of v3.3.4, which should fix this issue. I'm also releasing a new v3.4.0 for API levels 18 and up with a few new features and bug fixes.

[2019-08-07 21:38] Meteor0id opened #320 "Room for text strings within the app is too limited, after localization data doesn't fit on screen"
I have attempted to keep the Dutch translations short, but sometimes a text string just needs some length in order to be informative. Is there any possibility of using the available space in a more tolerant matter?

![1](https://user-images.githubusercontent.com/34976212/62662315-f4be4a80-b973-11e9-8afc-0a3371775df9.png)
![2](https://user-images.githubusercontent.com/34976212/62662338-07d11a80-b97

[2019-08-07 21:44] Meteor0id opened #321 "Translation and release cycle don't match"
I just noticed a new version was released. The changelog has only just been offered for translation, but the release has already been made. This results in the old translation of the changelog being used for the new version. The changelog therefore doesn't match with the release.

Proper release cycle would be:
1. make changes to the code
2. Push updated strings to transifex
3. Possibly release a

[2019-08-07 21:54] Meteor0id opened #322 "Letters for Flags not translatable"
In an attempt to make GPSTest more accessible to users in foreign languages, it might help if the letters refer to words in their own language instead of English, after all the rest of the interface is also translated. Currently the letters for flags: A E and U, are not available for translation in Transifex.

[2019-08-07 22:01] Meteor0id opened #323 "Improve documentation formatting and display"
Currently the explanation for the app is hidden under Menu > Help > About which is not where most users would go when they are looking to a usemanual

It is named a FAQ but that is not what it is. It is more of a legend or manual to using the app.

Proposing bring the Changelog menu en the About menu to the main menu. Than add a 3rd menu named "useguide" or something like that and move the explana

[2019-08-07 22:03] Meteor0id opened #324 "Improve "Feedback" email flow"
The title of this issue said it all. The menu could be renamed "share this app" or just be removed.

[2019-08-07 22:05] Meteor0id opened #325 "Enable/Disable switch color is similar to the Action Bar background"
Should be a different color, as it is very hard to discover the switch this way

Sorry for opening issue tickets about little things like these, I don't have time to write a PR right away and by opeing an issue we can atleast keep track of the issue. I might write the PR later.

[2019-08-07 22:10] barbeau commented on #324
@Meteor0id This might be a translation issue - the bottom 4 options in the navigation drawer should be (in order top to bottom):
* Visit us on GitHub
* Settings
* Help
* Send Feedback

Are you talking about the bottom option?

In the English version when I tap on the bottom option it opens an email Intent to a feedback email address.

[2019-08-07 22:13] barbeau commented on #325
IIRC it's linked to the theme coloring, and I had to make a compromise between this and other UI components.  PRs are welcome for improvement, although you'll need to review the whole app when changes are made to make sure it's not making something else harder to see.

Could you add a screenshot so others know what you're talking about?

[2019-08-07 22:22] Meteor0id commented on #324
I get a general share intent on Send Feedback. My email app is not opened directly. Seems the issue is how the intent is handled.

I am on Android 9, using an app called K9 for email.

[2019-08-07 22:23] Meteor0id commented on #325
![signal-attachment-2019-08-08-002103](https://user-images.githubusercontent.com/34976212/62661921-bbd1a600-b972-11e9-9549-26db29a7e529.png)

[2019-08-07 22:34] Meteor0id commented on #325
![signal-attachment-2019-08-08-002103](https://user-images.githubusercontent.com/34976212/62662410-4535a800-b974-11e9-8518-93ac7f33ad34.png)

[2019-08-07 22:55] barbeau commented on #324
It's an ACTION_SEND Intent with Intent.EXTRA_EMAIL extra:
https://github.com/barbeau/gpstest/blob/7dd6b9ccdf7e4e3c4483064d8a0e226b68919fe3/GPSTest/src/main/java/com/android/gpstest/util/UIUtils.java#L282

I can see devices handling this Intent differently, but it definitely shouldn't direct to Github.

You're sure the bottom option opens to Github if you choose an app from the picker?

[2019-08-07 23:30] barbeau commented on #320
This is effectively a duplicate of https://github.com/barbeau/gpstest/issues/176, so let's talk more about configurable Status displays there.

In short, for the current Status view just abbreviate as much as you need to to get the info all on the screen, and explain the abbreviations in the Help text.

[2019-08-07 23:30] #320 closed

[2019-08-07 23:54] Meteor0id commented on #176
Font size might be  made a user choice, but as of the current build the status card simply doesn't have enough room in some languages, forcing translators to use riddicules translations (just some letters) and forcing usrts to check to help menu just figure out what the abbriviation might mean even for simple words.

The status card should probably be height flexible, and the labels should be allo

[2019-08-08 01:51] Meteor0id commented on #324
Currently thr feedback button is confusing. It opens a menu to choose an app or contact and than fais with an error. It should open the email app, but it doesn't.

Maybe tjis happense because the wrong intend action is being used. Should it not be Sendto instead of send?

[2019-08-08 02:53] barbeau commented on #324
Yes, looking at:
https://developer.android.com/guide/components/intents-common#Email

...ACTION_SENDTO would work here, with:

`intent.setData(Uri.parse("mailto:")); // only email apps should handle this`

I originally had SEND because I was planning on inclduing metadata in an attachment, but then decided not to, so this would work.

[2019-08-08 07:01] paulle commented on #176
Yes, making linebreaks and leaving the selection of the font size to the user would be a good solution.

[2019-08-08 07:04] paulle commented on #320
Making linebreaks and leaving the selection of the font size to the user would be a good solution.

[2019-08-08 13:46] Meteor0id commented on #324
The problem is Intent.createChooser
Most Android devs advertise this as the best thing to do because "the user should decide waht app he wants to use". The issue is that his allow the user to pick whatsapp or Signal or any meesaging app as well as his e-mail app.

Since feedback can only be send using e-mail, lets remove Intent.createChooser .

[2019-08-09 18:22] barbeau commented on #321
Yes, sorry about the rapid release cycle on this last one!

Typically I'll put out a beta (sign up [here](https://play.google.com/apps/testing/com.android.gpstest) if you're not already) and announce it on the [Google Group](https://groups.google.com/forum/#!forum/gpstest_android) and wait at least a week.  Then I'll release updates to translations to beta as well, and finally do a production rele

[2019-08-09 18:22] #321 closed

[2019-08-09 18:30] barbeau commented on #322
@Meteor0id thanks for the feedback!

What do other translators think about this?  Would it be better to translate A, E, and U flags (for "almanac", "ephemeris", and "used) for each satellite to the local language?

[2019-08-09 18:48] barbeau commented on #323
So here's the brief history of GPSTest documentation:

I originally started with just a FAQ in the GitHub repo.  Users were pretty clear that they preferred in-app text, so I implemented the "Help->About" screen. "About" got translated to many languages by contributors within the app, which is awesome.  However, it's an ongoing pain for everyone because it's poorly formatted and huge. In the curre

[2019-08-10 15:39] goldfndr commented on #322
A more radical option is to use emoji. For Android 4.3 compatibility, I suggest:

* [💖 :sparkling_heart:](https://emojipedia.org/google/android-4.3/sparkling-heart/) (sparkling heart) Almanac (general health and orbit)
* [📡 :sattelite:](https://emojipedia.org/google/android-4.3/satellite-antenna/) (sattelite antenna) Ephemeris (position within orbit)
* [🔒 :lock:](https://emojipedia.org/google/andr

[2019-08-13 18:19] barbeau commented on #322
@goldfndr Yes, ideally we'd use a visual representation instead of text.  I'd welcome any general ideas for images too (not just emojis) or a different graphical representation, although they would need to be small to fit.

[2019-08-13 18:24] barbeau commented on #176
The current Status view prioritizes information density over readability, and a lot of users really like this. So, for now I don't see major changes happening to the default Status view that would change this priority.

However, I'd like to add a secondary view of Status that would prioritize readability over density - maybe conceptually similar to this, where one or several data elements get thei

[2019-08-13 18:37] barbeau opened #327 "Dutch translation for Status pushes text offscreen"
**Summary:**

This is a continuation of https://github.com/barbeau/gpstest/issues/320.

@Meteor0id I believe your translation changes pushed the text offscreen in the Status view in the latest Dutch translation updates:

![image](https://user-images.githubusercontent.com/928045/62967702-7f210700-bdd7-11e9-946b-ea92dcbd2575.png)

Is this something you want to fix in the translation to abbreviate th

[2019-08-13 18:39] barbeau opened #328 "Set field width limits in Transifex"
**Summary:**

In issues like https://github.com/barbeau/gpstest/issues/327, some translations that get wordy push text offscreen.  For fields that have a constrained width, we should set those widths in Transifex.

[2019-08-14 11:39] goldfndr commented on #320
If "E" in the accuracy labels is for Estimated then I suggest dropping it.

* It's relatively redundant — all of the accuracy values are estimates.
* It's not consistent — the speed and bearing accuracy labels don't include it.
* It can create confusion — the Help/About descriptions don't include it, so there's a mismatch.

[2019-08-14 13:05] Meteor0id commented on #320
No, the E does mot stand for estimated. Please go to help > about to find tge well hidden legend which explains the way too short abbriviations.

[2019-08-14 13:16] Meteor0id commented on #327
Yes I noticed this and I already opened a ticket for it.
I coupd shorten the abbriviations, but that would make them completely unreadable. Understanding a couple letters would be guesswork. At that point we might as well assign every piece of data a number so you can look up the number in the legend. (The legend which is well hidden in help > about > faq)

Dutch abbriviations are inhernetly longe

[2019-08-14 13:35] Meteor0id commented on #328
I don't think constraints are nessesary. Translaters and reviewers know their space is limited. The reason we see things get pushed of screen is not poor translations, the issue is that the layout isn't flexible enough to handle lenght differences wich are simply inhearent to localization.

[2019-08-14 13:38] Meteor0id commented on #322
I would normally encurage using simple icons, however representing emprisis data, usage and almanac data in icons sounds impossible to me. If the icons won't make sense, we shouldn't use icons, because they could lead to confusion or misinterpretation.

If someone manages to design icons which make sense, ok. Otherwiae lets stick with letters which represent the word.

[2019-08-14 13:50] Meteor0id opened #329 "Split up Help text and acknowledgements in multiple small strings"
Every time a new translator is credited, the whole string including the entire faq is reset. Altjough we can retreive the previous translation, as translators we have to review tge entire string to make sure nothing else has changed.

Splitting it into small strings is the solution.

Two additional more complex changes:
- only show the aknoledhement string for the same language as the app is curre

[2019-08-14 16:31] barbeau commented on #327
@Meteor0id Proposed re-formatting of Status prioritized for information density is welcome if you'd like to do this as part of https://github.com/barbeau/gpstest/issues/176.

In the mean-time, though, we need to restore this to readable status for current users.

Please let me know by end of the day on Friday of this week if you want to update the Dutch translation to bring the data back on-screen

[2019-08-14 16:36] barbeau commented on #320
@goldfndr "E" does stand for "estimated" in the context of horizontal and vertical error.  I added this when I added the "Accuracy" feature to GPSTest to try and differentiate between the actual and estimated accuracy values.  In other words, I didn't want someone to set a ground truth value in Accuracy and then come back to Status and think that real accuracy was being displayed in Status.  Confu

[2019-08-14 16:57] barbeau commented on #329
@Meteor0id Good idea!  I like splitting out the contributors from the rest of the Help text.

Let's keep all contributors for all languages, though.

For the 2nd bullet point, I think this is just a change the translators would need to make, right?  Doesn't require code changes?

As far as Transifex goes, any changes to the app strings in GitHub should automatically be reflected in Transifex, so i

[2019-08-14 17:01] barbeau opened #330 "Update Help for Status to say "estimated" horizontal/vertical accuracy"
**Summary:**

As mentioned in https://github.com/barbeau/gpstest/issues/320#issuecomment-521211058, the new "E" for horizontal/vertical accuracy isn't explained in the Help text.

My notes from https://github.com/barbeau/gpstest/issues/320#issuecomment-521322276:

**Steps to reproduce:**

Look at "Help->About"

**Expected behavior:**

Explain the "E"

**Observed behavior:**

No "E" explanation

[2019-08-14 18:10] barbeau commented on #316
Re-opening this - apparently the F-Droid version is popular, we've now exhausted our free tier of the MapTiler account:

I may just revert the Accuracy view to the free OSM map tiles.

[2019-08-14 18:27] #330 closed

[2019-08-14 23:49] barbeau commented on #277
Google I/O 2019 app code is now live, which includes dark theme implementation:
https://9to5google.com/2019/08/14/io-2019-open-source/amp/

[2019-08-15 00:03] Meteor0id commented on #327
I have adjusted the translations. I haven't tested it, but I think it will fit. If a test build reveals it doesn't I'll shave off a few more letters.

[2019-08-15 15:34] paulle commented on #328
Why not putting linebreaks in GPSTEST there text or output is shown. If text gets longer the user only have eventually to scroll a little bit more. I believe there are some languages there text gets longer than in English. For sure I know this for German.
Even for using GPSTEST with bigger fonts it would be an advantage (text woudn't be "cutted").

[2019-08-15 16:15] Meteor0id commented on #176
I think I am advocating a different flavor of solution than @paulle is. I am advocating line-wraps: if the line get too long, only in that case take up another amount of height.
@paulle seems to advocate removing the two column layout which is not about linebreaks or linewraps, but rather about design.

I agree with Bareau that some amount of density is actually desirable, but I think it is too de

[2019-08-15 16:56] barbeau opened #331 "Add compass degrees to Sky view"
**Summary:**

Request from user:

**Steps to reproduce:**

Look at Sky view

**Expected behavior:**

Draw numbers on the compass (exact amount and design TBD) for the headings

**Observed behavior:**

Only a north arrow is shown

**Device and Android version:**

N/A

[2019-08-15 17:09] barbeau commented on #327
@Meteor0id Great, thanks!  It's close, but needs a few more letters off:

![image](https://user-images.githubusercontent.com/928045/63112235-b7525200-bf5d-11e9-8e8c-f1107bcfab8b.png)

[2019-08-15 17:38] Meteor0id commented on #327
It hurts my feelings to mangle my language even further. I tried to make them even shorter. Can you please also reduce the whitespace between the label and the value?

[2019-08-15 21:36] paulle commented on #176
I believe I have to excuse me because of my poor English.
What I meant with linebreak
was only the option, when a line gets too long and get cutted and for this isn't completely readeable, in this case should be second line for seeing the whole text.
Same way as you put a text in a textfield and your text is longer than one line you finish your text in the second line.
I don't know really the diff

[2019-08-16 17:52] barbeau commented on #327
@Meteor0id Just to make you happy, I'll shave the whitespace down between the label and value :).

Thanks for your additional edits too - between these both, it fits! (at least on a Samsung Galaxy S8+). Thanks for fixing this!

![image](https://user-images.githubusercontent.com/928045/63187479-fef3df00-c02c-11e9-9a45-8b33e8339c99.png)

[2019-08-16 17:52] #327 closed

[2019-08-16 18:03] barbeau opened #333 "Target API Level 28 by Nov 2019"
**Summary:**

Google Play gives this warning for new releases:

Your app currently targets API level 27 and must target at least API level 28 to ensure it is built on the latest APIs optimized for security and performance.

From November 2019, app updates must target Android 9.0 (API level 28).

**Steps to reproduce:**

Look at build.gradle `targetSdkVersion`

**Expected behavior:**

It needs to b

[2019-08-16 20:56] Meteor0id commented on #176
Maybe tap the status card to expand it into a more detailed overview (which also does not use abbreviations)?

[2019-08-16 22:16] Meteor0id opened #334 "Terminology: Bearing, course or azimith"
I noticed the status card speaks of bearing. But is this actually correct chose of terminology?

Allow me to share what I think I know:
- Bearing is and angle between a point of reference and a point being described. It can be expressed as a number ranging from 0 to 360 or as an offset to a cardinal direction (South 64 degrees East). A Bearing describes a direction between A and B, in which A is u

[2019-08-18 21:48] barbeau commented on #334
Thanks for sharing! The current labels in GPSTest are a 1:1 match to the names used in the Android Location API where the data comes from:
https://developer.android.com/reference/android/location/Location.html

I'd like to keep it this way to make it clear where the data is coming from.

[2019-08-18 21:48] #334 closed

[2019-08-18 21:59] Meteor0id commented on #334
Right, why would we critically think about the information we're spreading if uncle Google has already voiced their opinion?

I disagree with that reasoning. This app specializes in GNSS information, and can set an example and can serve an educational purpose. If we just follow oversimplified terminology made up by Google the app is actually misinforming users in some cases.

And hadn't you delibe

[2019-08-18 22:14] barbeau commented on #334
You're welcome to disagree :).

GPSTest provides a very unfiltered view into what the OEM is implementing on the device for GNSS capabilities. I want to highlight when things aren't clear, but don't want to alter the information coming out of the device. Otherwise when a developer from the OEM looks at the app it's not clear to them where the data is coming from, and makes it harder for them to fi

[2019-08-19 00:26] Meteor0id commented on #334
What you write makes sense, but on the other side if anyone looks at the app and the terminology isn't correct, that is also likely to lead to situations where it also isn't clear why the information in the app doesn't correspond to the expected value. Any  developer can look at the code, but anyone who doesn't notice the indiscrepancy in the terminology has no chance within the app itself to noti

[2019-08-20 04:39] iso654 opened #335 "GpsTest"
Hi,
We are creating an application to control the working hours of our employees and we need to get GPS information such as:
1. Coordinates (longitude and latitude)
2. Date and time
Still transfer the data automatically to the server (via the button).
Also we use class Location Manager. This class provides access to the system location services(GPS/Network).
But due to the fact that this class nee

[2019-08-20 11:13] TaaviE opened #336 "Xiaomi Mi 9 - Incorrect, unlabeled GNSS frequencies"
**Summary:**

A few GNSS frequencies don't have a nice name.

**Steps to reproduce:**

Open GPSTest on a Mi 9

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

The nice names aren't displayed for these frequencies:
* GALILEO 1602.000 MHz , ID 7, 19
* GALILEO 1561.098 MHz, ID 7, 19, 26, 31, 31
* BEIDOU 1602.000 MHz, ID 2, 5, 9, 13, 16
* Galileo SBAS 1602.000 MHz,

[2019-08-20 15:01] barbeau commented on #336
@TaaviE Thanks for reporting this!  Could you include a screenshot too?

Unfortunately it looks like these are bugs - as far as I can tell there aren't any real signals being broadcast at these frequencies. Here's an example GNSS frequency chart:

![image](https://user-images.githubusercontent.com/928045/63358933-b421e200-c320-11e9-846f-3d2f902b950f.png)

Could you please report this bug to Xiaomi

[2019-08-20 15:30] TaaviE commented on #336
I can try asking Xiaomi to fix these.

![Screenshot_2019-08-20-14-01-07-870_com android gpstest](https://user-images.githubusercontent.com/15741449/63361338-9bddb180-c378-11e9-9327-1ebf0c424a3b.png)

[2019-08-21 04:15] barbeau commented on #335
@iso654 Thanks for the feedback!  I'm not entirely sure I understand what you're asking for.  Do you want the user to install GPSTest plus your app on a device and then get information from an API in GPSTest?  Or do you want a whitelabeling option in the GPSTest project where you could put your own name, logo, and UI on it?

If you're just looking to get device location, it's going to be simpler j

[2019-08-21 10:37] PedroVenancio commented on #336
Hi @barbeau and @TaaviE

I also see several strange things in my Xiaomi Mi9, with Android 9 PKQ1.181121.001 and MIUI Global 10.2.13 (GPSTest v3.4.0 and v3.4.2).

![Screenshot_2019-08-16-00-16-02-315_com android gpstest](https://user-images.githubusercontent.com/1331581/63424149-b873fb00-c405-11e9-96ec-bd3f55a9c68b.jpg)

![Screenshot_2019-08-21-00-04-21-903_com android gpstest](https://user-images.

[2019-08-21 11:03] TaaviE commented on #336
I think some satellites do send two signals on two bands?

I think these are in wrong order because the code that deals with the second GNSS bands has basically a small typo.

The support should exist on all Snapdragon 855 devices.

The small typo that is in a library somewhere isn't that big of a problem honestly. I can get a GPS fix inside quite a few buildings and the accuracy outside is 2.5m e

[2019-08-21 11:34] PedroVenancio commented on #336
Thanks for your feedback @TaaviE !

Accumulated Delta Range is necessary for post-processing. Please, see this issue https://github.com/barbeau/gpstest/issues/268

[2019-08-21 11:59] TaaviE commented on #336
I found that information but I haven't found what (error) it corrects?

[2019-08-21 12:13] PedroVenancio commented on #336
https://developer.android.com/reference/android/location/GnssMeasurement.html#getAccumulatedDeltaRangeMeters()

https://insidegnss.com/generating-carrier-phase-measurements/

[2019-08-27 17:55] barbeau opened #337 "Support/filter ground truth datums for SHOW_RADAR intent (e.g., from BenchMap)"
**Summary:**

It looks like altitude values that are coming from BenchMap app are in NAVD88, not WGS84:
https://epsg.io/6358

We need to implement filtering and eventually support for these alternate datums via conversions.  A good first step is filtering altitude in non-WGS84 formats to avoid calculating erroneous vertical error values.

One possible way to identify altitude datums is to pass an

[2019-08-28 17:31] barbeau opened #338 "Support scanning QR code to set ground truth location"
**Summary:**

If you're running tests on several devices simultaneously, it's tedious to set the same ground truth location in Accuracy view for all of them.

I'd like to add support for scanning a QR Code to quickly set the ground truth location, using a library like ZXing:
https://github.com/zxing/zxing/wiki/Scanning-Via-Intent

We can support the Geo URI scheme:
https://en.wikipedia.org/wiki/Ge

[2019-08-29 18:01] barbeau commented on #338
There is also Google Vision Barcode API as an alternative:
https://developers.google.com/vision/android/barcodes-overview

[2019-09-02 09:42] benzfish commented on #336
Mi9 shows both L1 and L5 at the column L1, its a bug.
Xiaomi will fix this bug in the next release.

[2019-09-04 16:54] #338 closed

[2019-09-04 17:48] barbeau opened #340 "Use GnssStatus.CONSTELLATION_IRNSS, SDK constant when Android R SDK is released"
**Summary:**

When working on adding IRNSS support in https://github.com/barbeau/gpstest/pull/300 I ran into this bug in the Android 10 SDK:
https://issuetracker.google.com/issues/134611316

Basically, this project won't compile when using `compileSdkVersion 29` due to the bug.  And, because `GnssStatus.CONSTELLATION_IRNSS` is new in Android 10, we can't use this Android SDK constant to identify I

[2019-09-04 17:57] #105 closed

[2019-09-05 17:09] #333 closed

[2019-09-06 22:54] sp00n commented on #79
Is this still on your list?
I'd have a couple of external Bluetooth GPS devices that I'd like to see the app to work with:
- Garmin GLO 2 (unknown chipset)
- GNS 2000 plus (MediaTek MT3333)
- Nokia LD-3W (SiRF Star III)
- Qstarz BT-Q818 XT (MTK II)

Other interesting chipsets would be MediaTek MT3318 and MediaTek MT3329 (used by some Holux devices).

I currently have the Nokia, the Garmin and the

[2019-09-07 00:03] barbeau commented on #79
@sp00n It's still on my list of features I'd like to add to the app but I just haven't gotten to it yet.

For this and sending NMEA over USB/serial (https://github.com/barbeau/gpstest/issues/308) it looks like I may need to get a hold of an actual device for development.  It's hard to implement something when you don't have anything to test against.

[2019-09-07 00:10] sp00n commented on #79
Well, you can get a used Nokia LD-3W for around 15€ on eBay these days. Not sure about the US though.

[2019-09-11 18:38] JonnyTech opened #342 "Minimise latency"
What combination of settings would produce the lowest latency? Using Alsa with an external line-in input via roc across a LAN and outputting to a roc receiver and line-out produces a minimum of 100-250 milliseconds of latencey. How can this be improved to something comparable to jackd of about 4ms?

[2019-09-12 13:56] Vascom opened #343 "Add number of signals ("# Signals:")"
**Summary:**

"# Sats:" field show wrong number of satellites on L1/L5 receivers.

**Steps to reproduce:**

Run app on L1/L5 receiver like Xiaomi Mi 9.

**Expected behavior:**

Show real number of satellites even if one satellite has two signals.

**Observed behavior:**

I see each signals as separate satellite.

**Device and Android version:**

Xiaomi mi 9. MIUI 10.2.8.

[2019-09-17 17:41] barbeau commented on #299
We also get to specify a notification when running in the background - a user requested something similar to the GPS Status app:

![image](https://user-images.githubusercontent.com/928045/65065622-c5c2cd80-d950-11e9-919b-6c4524bbb26d.png)

[2019-09-20 17:13] barbeau opened #345 "Update "GPS" strings to reference "GNSS""
**Summary:**

There are a number of old strings in the project in Toast messages, etc.  that aren't typically visible, but still reference "GPS" instead of "GNSS".

We should update these to all references "GNSS".

**Steps to reproduce:**

Look at project strings in `strings.xml`

**Expected behavior:**

All user-facing strings should reference "GNSS"

**Observed behavior:**

Some of them still on

[2019-09-20 18:07] #242 closed

[2019-09-20 18:13] barbeau opened #346 "Support Maidenhead coordinate format"
**Summary:**

Now that we have multiple coordinate formats set up in https://github.com/barbeau/gpstest/pull/344 it wouldn't be too difficult to add more formats (pending the work to actually do the conversion).

Mentioned in https://github.com/barbeau/gpstest/issues/242#issuecomment-448915184, which references https://gitlab.com/mvglasow/satstat/issues/127:

**Steps to reproduce:**

Go to Setting

[2019-09-20 18:14] barbeau opened #347 "Support UTM coordinate format"
**Summary:**

Now that we have multiple coordinate formats set up in https://github.com/barbeau/gpstest/pull/344 it wouldn't be too difficult to add more formats (pending the work to actually do the conversion).

Mentioned in https://github.com/barbeau/gpstest/issues/242#issuecomment-448498280:

a space, then the “right value” (longitudinal part), a space,
then the “up value” (latitudinal part) ar

[2019-09-26 16:51] barbeau commented on #293
Closing this as a duplicate of https://github.com/barbeau/gpstest/issues/338.

[2019-09-26 16:51] #293 closed

[2019-09-26 17:12] barbeau opened #348 "Improve Share feature - location and log files"
**Summary:**

Currently the only "Share" option within GPSTest is to send a URL to GeoHack via Android apps that support the `ACTION_SEND` intent.

I'm working on improving the sharing UI within GPSTest, which will cover the following:
* Location
    * Copy coordinates to clipboard
    * Open browser with URL to GeoHack (the current "Share" option)
    * Open another app using coordinates
    * Se

[2019-09-27 21:46] barbeau commented on #277
See Dark Theme in material components:
https://material.io/develop/android/theming/dark/

[2019-10-08 17:31] #348 closed

[2019-10-08 17:32] barbeau commented on #348
PR - https://github.com/barbeau/gpstest/pull/349

[2019-10-08 17:55] #257 closed

[2019-10-08 17:57] barbeau commented on #257
With https://github.com/barbeau/gpstest/commit/99e0419214ec03863b77fdf996a3651324d5f824, now you can simply tap on the top card and it will automatically copy your location to the clipboard.

[2019-10-08 18:01] #345 closed

[2019-10-13 09:08] mimichris commented on #336
Hello,
On the latest version MI9, MIUI 10.2.14 of this month, no change, I wonder if they will really change something ....

[2019-10-13 09:18] TaaviE commented on #336
They fixed some but not GALILEO, I submitted an error report, please do the
same and ask others as well.

[2019-10-13 13:40] lindroidux commented on #308
@barbeau Could you pls include this feature over Bluetooth/network?

[2019-10-15 16:32] barbeau commented on #308
@lindroidux I've started this here:
https://github.com/barbeau/gpstest/tree/serial

...but hit an issue with the app crashing, and I can't tell if the code's not right or it's just because I don't have a device connected. So it's going to be hard to implement this without a physical device to test on myself.

[2019-10-16 08:43] Giolly90 opened #352 "Improve "Install Barcode Scanner" dialog"
**Summary:**
When entering transifex I don't see the string showed in the screenshot

**Steps to reproduce:**
Enter Accuracy view, tap on QR code icon, tap OK

**Expected behavior:**
I see a message in my language

**Observed behavior:**
I see a message in english

**Device and Android version:**
OnePlus 5, Android 9

**Screenshots:**
![Screenshot_20191016-101414](https://user-images.githubusercon

[2019-10-16 08:44] Giolly90 commented on #352
Moreover, choice buttons YES/NO are not well defined

[2019-10-16 17:01] barbeau commented on #352
@Giolly90 thanks for flagging this! Right now this screen is controlled by the Bar Code Scanner app library, so I don't have direct control over localizing it or fixing the buttons. I'll leave this issue open for improving this in the future and possibly replacing it with code in GPSTest.

[2019-10-19 07:46] goldfndr commented on #352
[Relevant code](https://github.com/zxing/zxing/blob/master/android-integration/src/main/java/com/google/zxing/integration/android/IntentIntegrator.java#L115-L117)

[2019-10-20 12:32] paulle commented on #352
Why not making the yes/no-buttons round, so they will be better separated.

[2019-10-20 13:04] barbeau commented on #352
The yes and no buttons should follow the same normal material design dialog layout as the other dialogs in the app.

[2019-10-20 13:42] paulle commented on #352
I understand, so the buttons should only be a little bit more separated.

Am 20. Oktober 2019 15:04:34 MESZ schrieb Sean Barbeau <notifications@github.com>:

--
K-9 Mail

[2019-10-23 17:37] barbeau commented on #343
I've started working on logic that can support this at https://github.com/barbeau/gpstest/pull/355.

[2019-10-23 17:37] barbeau commented on #313
I've started working on logic that can support this at https://github.com/barbeau/gpstest/pull/355.

[2019-10-23 17:37] barbeau commented on #265
I've started working on logic that can support this at https://github.com/barbeau/gpstest/pull/355.

[2019-10-23 17:38] barbeau commented on #295
I've started working on logic that can support this at https://github.com/barbeau/gpstest/pull/355.

[2019-10-23 17:58] Vascom commented on #343
Thanks.

Also it will be good if instead list second signal as new string you just show SNR of second signal in second column.

Like this:
Id    GNSS CF1cn0 CF2cn0 flags Elev Azim

[2019-10-26 02:09] Bolognesus commented on #336
![Screenshot_2019-10-26-03-56-23-738_com android gpstest](https://user-images.githubusercontent.com/57024020/67612809-60ab9480-f7a6-11e9-9e2b-64feba82baaf.png)
Mi 9T pro, same issue.

[2019-10-29 09:39] DominicHayes commented on #336
![Screenshot_2019-10-27-11-36-52-932_com android gpstest](https://user-images.githubusercontent.com/57133320/67755248-7dfb8f80-fa40-11e9-9da4-8d12b0649be0.png)
Impressed by the performance even at 10000m and 800kph, but the labels still need attention. 9T Pro.

[2019-10-29 13:42] barbeau commented on #336
@DominicHayes Thanks for the screenshot! The carrier frequency of 1602 MHz for Galileo and Beidou is an error by Xiaomi - there are no real GNSS signals broadcast on these frequencies from these systems. Could you please report this bug to Xiaomi and see what they say?

Has anyone else gotten a response from Xiaomi on this recently?

[2019-10-29 13:49] TaaviE commented on #336
@DominicHayes
![IMG_20191029_154505](https://user-images.githubusercontent.com/15741449/67772836-70a3cc80-fa63-11e9-8732-b92597a364b8.jpg)

I got 52 sattelites on almost the same altitude with a Mi 9, also has a few weird Galileo frequencies.

I'm waiting for MIUI11 to see if Xiaomi has fixed it there.

[2019-11-04 23:59] PedroVenancio commented on #336
I've just updated to MIUI 11 and it seems that this issue was fixes:

![Screenshot_2019-11-04-23-55-16-320_com android gpstest](https://user-images.githubusercontent.com/1331581/68167896-10c78d00-ff5f-11e9-98b7-65513c7cba42.png)

[2019-11-05 02:59] TaaviE commented on #336
Did the same, seems fixed indeed.

[2019-11-05 02:59] #336 closed

[2019-11-05 08:34] mimichris commented on #336
Hello,
I do not have the possibility of this update yet, when did you have it?
Thank you.

[2019-11-05 08:56] PedroVenancio commented on #336
@mimichris  It landed in my Mi9 last night.

[2019-11-05 09:47] mimichris commented on #336
Hello,Maybe I had not looked at the possibility of updating, I just made this update and I no longer have the satellite data error.
mimichris

[2019-11-09 13:36] PedroVenancio commented on #268
Tested in MIUI 11 and AccumulatedDeltaRange is still 0.

So, no hope with Mi9.

[2019-11-09 21:37] goldfndr commented on #103
The upper frequencies I'd posted for GLONASS L1 and L2 were incorrect; apparently I'd multiplied by the wrong number (should've been 6). I've updated them to the correct numbers. See also [GLONASS Signal Plan](https://gssc.esa.int/navipedia/index.php/GLONASS_Signal_Plan) at ESA's navipedia.

[2019-11-12 19:08] barbeau commented on #103
@goldfndr So currently I have:

[code]

You're saying this should change to:

[code]

...?

[2019-11-13 12:13] goldfndr commented on #103
Approximately correct.

The tests might need to change too, but I'm confident you knew that.

[2019-11-13 19:28] barbeau opened #356 "GLONASS L1 and L2 frequency ranges for labels too wide"
**Summary:**

First raised in https://github.com/barbeau/gpstest/issues/103#issuecomment-552140034.

Our frequency ranges for GLONASS L1 and L2 labels are slightly too large. AFAIK this doesn't have any affect on end users as no other satellites occupy the overlapped frequencies, but we should fix this anyway.

ESA Navipedia states the correct frequency ranges for L1 and L2:
https://gssc.esa.int/n

[2019-11-13 19:29] barbeau commented on #103
Thanks, looks correct to me. I opened a new issue to fix this at https://github.com/barbeau/gpstest/issues/356.

[2019-11-13 23:25] goldfndr commented on #356
A question: would it be useful to display an offset? (e.g. for a frequency of 1605.375 display something like "L1+6" or "L1⁺⁶" or "L1₊₆"? It could even be a superscript for + and subscript for -, but that might not be very intuitive.)

[2019-11-14 18:38] barbeau commented on #356
@goldfndr I'd like to display this somewhere eventually, although I agree that trying to fit this into the main CF label probably isn't going to be intuitive. This could be shown when tapping on a satellite for more detail - I'll add this to https://github.com/barbeau/gpstest/issues/113.

[2019-11-14 18:38] barbeau commented on #113
GLONASS frequency offsets could be displayed here too - see https://github.com/barbeau/gpstest/issues/356#issuecomment-553651768.

[2019-11-14 18:56] #356 closed

[2019-12-08 03:19] goldfndr opened #357 "Blinding white at startup with dark theme used"
**Summary:**

Launching GPSTest always results in a white screen even with dark theme enabled.

**Steps to reproduce:**

Launch the app. (Version 3.5.2)

**Expected behavior:**

Either launch with themed background or delay painting of background until theme loads.

**Observed behavior:**

Launched with white background. While it might be brief if it is the only app launched, launching successive

[2019-12-10 16:45] alpter commented on #336
Did you see this ?
[https://insidegnss.com/galileo-hits-the-spot]()

[2019-12-10 19:09] barbeau commented on #357
Thanks @goldfndr. I think this should be resolved when switching to official dark mode support as discussed in https://github.com/barbeau/gpstest/issues/277.

[2019-12-13 17:03] mirabilos opened #358 "Add 24-hour format"
**Summary:**

I can either use gpstest in English with the very foreign AM/PM format, or in German (which is only half-translated and I don’t like localisation in general as it irritates me, **and** it breaks coordinate format) with 24-hour clock format, but not English/International with 24-hour clock format.

**Steps to reproduce:**

Select English language in the menu, see AM/PM format clock ☹

[2019-12-13 17:05] mirabilos opened #359 "Latitude and longitude number separators are localized"
**Summary:**

Localised decimal separators are mistakenly used in coordinate format.

**Steps to reproduce:**

Select decimal minutes (geocaching) coordinate format, then switch to German language.

**Expected behavior:**

Coordinates are still in `N 50°42.000  E 007°07.000` style.

**Observed behavior:**

Coordinates have a comma in them.

**Device and Android version:**

HTC Desire, LiquidSmooth

[2019-12-15 20:38] #324 closed

[2019-12-17 13:37] phm1015 commented on #287
i also found the same issue in api 16
got any solution for api 16??

[2019-12-17 14:16] barbeau commented on #287
@phm1015 Unfortunately no, I ended up having to drop support for API <=17 after adopting MotionLayout.

[2019-12-17 17:35] barbeau commented on #358
Thanks @mirabilos, I agree this would be a nice option to have. BTW, if you have any free time and would like to help update the German translation, please see https://github.com/barbeau/gpstest/blob/master/TRANSLATIONS.md!

[2019-12-18 19:16] barbeau commented on #359
@mirabilos So this was actually a deliberate choice to fully support localization in other languages. I'm open to hearing about this from more users, but my current understanding is that latitude and longitude are typically localized just like any other decimal number.

Is there a particular use case that this affects? For example, copying/pasting into other software?

[2019-12-18 19:29] mirabilos commented on #359
Sean Barbeau dixit:

Hm, interesting, because this goes completely contrary to my
understanding and experience from GPS Stash Hunting (geocaching)
and other GPS-based activities.

It is even considered wrong to localise the N/S and E/W parts
(for instance, “E” would be “O” in German, but nobody does this
any more in the GPS era — this is only found on ancient pre-Blue-
Switch maps).

I’d assume so

[2020-01-10 14:14] schwabe opened #361 "Number of sats used/in view not correct with dual frequency GNSS"
So this might be as well a wontfix. Before dual frequency number of satellites with lock was the same as number of frequencies with lock. With dual frequency that is no longer true.

I am not sure how to really improve on that. Maybe add a whole new section of stats? Like # sats with dual frequency, rename # Sats just to # Locks?

[2020-01-10 21:25] barbeau commented on #361
@schwabe Thanks for pointing this out! Yes, I'm tracking this issue in https://github.com/barbeau/gpstest/issues/343, so I'm going to close this one as a duplicate.

To fix this field I need to implement grouping of satellites according to constellation, ID, and carrier frequencies, and this is almost done in https://github.com/barbeau/gpstest/pull/355.

[2020-01-13 03:39] Jon8RFC commented on #308
@barbeau Would you like one of these?
https://smile.amazon.com/GlobalSat-BU-353-S4-USB-Receiver-Black/dp/B008200LHW/ref=sr_1_1?keywords=globalsat+usb+5hz&qid=1578885807&sr=8-1

You could add it to a new amazon wishlist and post it here.  I'm not sure where you live, but if international shipping is added on Amazon, that might be out of my budget.

I'm interested in getting complete data, viewed in

[2020-01-13 03:58] barbeau commented on #361
I'm actually going to re-open this issue and use it to specifically track fixing the "# Sats" label on dual-frequency devices. Showing both # Sats and #Signals requires a little more UI work so I'll continue tracking that in https://github.com/barbeau/gpstest/issues/343.

[2020-01-13 04:01] barbeau commented on #359
I'm going to close this out for now to clean up some issues.

[2020-01-13 04:01] #359 closed

[2020-01-13 04:17] Jon8RFC opened #363 "Available accuracy/error level in Android?"
@barbeau , I tried to find you on XDA to ask this question there, but couldn't find a profile.

What are your observations and knowledge on Android's inherent accuracy or error level of positioning?  I ask because of this bug report I've posted:
https://issuetracker.google.com/issues/146010208

Unfortunately I've only used your application in the past 2-3 years.  I've used GPS Status & Toolbox sin

[2020-01-16 18:11] barbeau commented on #363
@Jon8RFC Good question! So it's important to remember that the "accuracy" value you see in the app is just an estimate by the hardware OEM. Here's an article with more details on what that means - https://medium.com/@sjbarbeau/measuring-gnss-accuracy-on-android-devices-6824492a1389.

The true error/accuracy is unknown to the hardware and needs to be measured, which you can do with the GPSTest "Acc

[2020-01-16 18:11] #363 closed

[2020-01-17 09:36] Jon8RFC commented on #363
Thanks for the great information and the links!

[2020-01-18 00:01] goldfndr commented on #308
https://smile.amazon.com/dp/B07P8H27CF/ looks like a slightly better deal, but I don't know how well it'd compare to the one you mentioned -- it looks like it'd need [an outProtoMask with outNmea set](https://www.u-blox.com/sites/default/files/products/documents/u-blox8-M8_ReceiverDescrProtSpec_%28UBX-13003221%29_Public.pdf) to output NMEA. It has a customer answer of not working with Android, but

[2020-01-18 00:09] goldfndr commented on #358
See also #117.

[2020-01-18 00:44] goldfndr opened #364 ""E Acc" should be "E H Acc""
**Summary:**

On older phones, the first Accuracy label should mention that it's for horizontal accuracy.

**Steps to reproduce:**

Launch app on a pre-7.0 (API 23 or earlier) device, switch to Status view, see label.

**Expected behavior:**

Display a label indicating horizontal accuracy, "E H Acc".

**Observed behavior:**

[As mentioned in the help](https://github.com/barbeau/gpstest/blob/master

[2020-01-21 17:35] barbeau commented on #364
Thanks @goldfndr, that makes sense. IIRC I dropped the period on "E H/V Acc" due to length restrictions, but I'll keep it on the others.

[2020-01-21 17:40] #364 closed

[2020-01-23 01:02] goldfndr commented on #364
I'm confused: why aren't you adding an "E " to the others or a period to this one?

[2020-01-23 18:19] #361 closed

[2020-01-23 18:21] barbeau commented on #343
I just merged https://github.com/barbeau/gpstest/pull/355, so the "# Sats" value will now be correct on dual-frequency devices. I'll leave this open for showing "# Signals" as well in the UI (somewhere).

[2020-01-23 19:01] barbeau commented on #364
I'm not adding the periods because on devices with smaller screen widths it will push the value off screen. The main reason I've added "E" to accuracy is to differentiate between estimated and actual (measured) accuracy - many users confuse these. We don't have a way to easily measure true speed or bearing accuracy within the app, so I don't think we need to stress the difference there.

[2020-01-24 17:49] barbeau commented on #361
Number of satellites should now be correct for dual-frequency devices in the new beta release v3.5.3 - https://play.google.com/apps/testing/com.android.gpstest.

If you have a dual-frequency device please test and let me know if it looks right!

[2020-01-24 17:49] barbeau commented on #343
Number of satellites should now be correct for dual-frequency devices in the new beta release v3.5.3 - https://play.google.com/apps/testing/com.android.gpstest.

If you have a dual-frequency device please test and let me know if it looks right!

[2020-01-24 18:55] Vascom commented on #343
I tested on Xiaomi Mi 9.
Work good. Sats number as expected.

[2020-01-24 19:09] barbeau commented on #343
Thanks @Vascom!

[2020-01-28 14:52] barbeau commented on #340
Looks like this will be fixed in the Android R SDK 30, so when that is public we can switch to the canonical constant:
https://issuetracker.google.com/issues/141019880#comment6

[2020-01-29 06:20] Vascom opened #365 "Show "# Sats" in X/Y/Z format"
I want suggest add new number to "# Sats".

Now it is shown like "# Sats: 20/46" for example. That mean:
20 - sats used in position;
46 - sats potentially visible and known by almanac.

New behavior in my view can be  this "# Sats: 20/30/46". That mean:
20 - sats used in position;
30 - sats really visible and tracked by receiver (signal have C/N0 value);
46 - sats potentially visible and known by

[2020-01-29 17:39] barbeau commented on #365
So the current "# Sats" is actually "X/Y", where:
* X is the number of satellites used in computing the position
* Y is the number of signals visible to the device

The number of satellites that have almanac data isn't currently displayed, but could be useful (as well as number with ephemeris).

I'll change the issue to potentially add a count of satellites with almanac and ephemeris data, which m

[2020-01-29 18:24] Vascom commented on #365
Y - is not the number of sats visible for device. Because even undergrownd it show about 30 and all with almanac.

[2020-01-30 18:49] barbeau commented on #365
@Vascom Hmm, thanks for pointing this out. What device and Android version do you have?

My above reply should have read:

This code was written way back on Android 1.5, and it looks like it's time to revisit it, as the behavior of devices has likely changed/diverged over time.

I see something similar on a Samsung Galaxy S8+ w/ Android 9 - all signals have almanac data but some do not have C/N0:

[2020-01-31 16:11] Vascom commented on #365
I have Android 10 on Xiaomi Mi 9.

[2020-02-04 18:25] barbeau commented on #365
Looking at the screenshots in https://medium.com/@sjbarbeau/dual-frequency-gnss-on-android-devices-152b8826e1c, behavior still varies across even newer devices.

For example, here's a Huawei Mate 20 Pro that includes satellites in the list that don't have C/N0, almanac, or ephemeris data, but still have elevation and azimuth data:

![image](https://user-images.githubusercontent.com/928045/73773775

[2020-02-04 19:37] barbeau opened #366 "SBAS not being drawn on Sky view"
**Summary:**

It looks like when I overhauled the SBAS presentation in the app I may have broken the drawing of SBAS satellites on the Sky view - the old code is commented out but not replaced by drawing the SBAS GnssType:
https://github.com/barbeau/gpstest/commit/b07de84eaf5e944390ffe49c63c8a8173d4d5830#diff-f1405b8970ae7d2c185c91bd4b3bd90aR470

I need to test this further, although it's challeng

[2020-02-04 19:40] #366 closed

[2020-02-05 06:54] Vascom commented on #365
Presence of almanac not critical for me or position.
Better know what sats really used and what are really tracked (have C/N0). All other can be in third number of "# Sats" field.

[2020-02-05 17:58] barbeau opened #367 "Show satellite history trace in Sky view"
**Summary:**

Suggested by a user - it would be nice to be able to see the history of the satellite trace on the Sky view over time.

**Steps to reproduce:**

Look at the Sky view for an extended period of time (hours)

**Expected behavior:**

Show a trace in Sky view of where the satellite has been

**Observed behavior:**

No trace is shown

**Device and Android version:**

N/A

[2020-02-05 18:05] barbeau commented on #365
@Vascom I agree. I think the best solution to avoid confusion with users (especially those that have been using the app for a while) is similar to what you originally suggested - a new format of "X/Y/Z", where:
* X = Number of sats used in fix
* Y = Number of sats visible (i.e., with valid C/N0 values)
* Z = Total number of sats returned by API (i.e., the number of satellites in the UI Status list

[2020-02-05 19:00] barbeau commented on #365
WIP PR at https://github.com/barbeau/gpstest/pull/368

[2020-02-06 05:58] Vascom commented on #365
Thanks.

[2020-02-07 17:34] #365 closed

[2020-02-07 18:44] barbeau opened #369 "Flag wrong times from GPS week rollover issue"
**Summary:**

Requested by a user:

The issue of wrong times from the GPS week rollover issue has come up on the Google Group before:
https://groups.google.com/forum/#!topic/gpstest_android/AXHaBqdKNnQ

I'd like to at least flag the time as red and maybe add an error note to the device info page (https://github.com/barbeau/gpstest/issues/313) to indicate that there is a problem.

**Steps to reprod

[2020-02-08 04:25] Vascom commented on #365
![Screenshot_2020-02-08-07-24-26-831_com android gpstest](https://user-images.githubusercontent.com/550017/74079130-29ef4680-4a44-11ea-8a2d-886e6bf29494.jpg)
Excellent.

[2020-02-08 15:44] barbeau opened #370 "Share button format is confusing"
**Summary:**

A user reported that the Share button doesn't share anything other than decimal degrees even if other formats are selected. The reason behind this was to standardize sharing in the geo: format. However, users are expecting that if other formats are selected those should be shared when tapping on the share button. So we should only use geo: format if decimal degrees are selected.

**S

[2020-02-10 17:42] barbeau opened #371 "Support MGRS coordinate format"
**Summary:**

A user requested supporting the MGRS (Military Grid Reference System) coordinate format:
https://en.wikipedia.org/wiki/Military_Grid_Reference_System

**Steps to reproduce:**

Go to Settings->Coordinate formats

**Expected behavior:**

Provide MGRS as an option

**Observed behavior:**

MGRS isn't an option

[2020-02-10 17:52] #370 closed

[2020-02-10 18:17] barbeau commented on #347
Our options are to either load a library to do this conversion, or call a web service.

GeoTools is a possible library:
https://gis.stackexchange.com/questions/151565/what-simple-and-light-java-library-to-use-for-wgs84-to-utm-conversion

Example web service:
https://gis.stackexchange.com/a/151569/12198

...but to call this in real-time would be intense, once-per-second for each device running GPST

[2020-02-10 18:18] barbeau commented on #371
We need a method for generally doing coordinate conversion - see https://github.com/barbeau/gpstest/issues/347#issuecomment-584259525 for discussion.

[2020-02-10 18:18] barbeau commented on #346
We need a method for generally doing coordinate conversion - see https://github.com/barbeau/gpstest/issues/347#issuecomment-584259525 for discussion.

[2020-02-10 18:34] barbeau opened #372 "Show dual-frequency indicator on Sky view"
**Summary:**

It would be nice to be able to tell which satellites on Sky view the device has multiple frequencies for.

This could be accomplished via re-using the filter currently used in Status, with the option to filter by GNSS or carrier frequency (primary vs secondary). The ability to filter on Status by CF could also be added.

Good resource for custom dialog in Compose to include CFs as we

[2020-02-14 19:02] barbeau opened #373 "Crash on legacy GpsStatus devices"
**Summary:**

On pre-N devices, or if you uncheck "Settings->Use GNSS API", you'll get a crash:

[code]

**Steps to reproduce:**

On pre Android N device start app

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

Pre Android N devices

[2020-02-14 19:04] #373 closed

[2020-02-15 17:20] mgw2013 commented on #316
Issue still open.

[2020-02-17 18:19] barbeau opened #374 "Accuracy view - Add averaged position"
**Summary:**

Request from a user:

Types of averaging:
* Simple average (mean) - https://math.stackexchange.com/a/47856/554287, http://mathforum.org/library/drmath/view/63491.html
* Fuzzy point - https://www.geospatialworld.net/article/fuzzy-point-averaging-of-the-gps-position-components/

**Steps to reproduce:**

Look at Accuracy view

**Expected behavior:**

Show an averaged positoin

**Observe

[2020-02-17 18:20] barbeau opened #375 "Accuracy view - Export results via email or file"
**Summary:**

A user requested the ability to export accuracy results.

**Steps to reproduce:**

Go to Accuracy view

**Expected behavior:**

Try to export or share results

**Observed behavior:**

You can't export or share results

[2020-02-20 17:59] #369 closed

[2020-02-20 22:02] zemix commented on #299
Yeah, thanks for replay on Play Store, I personally absolutel support this topic, the way it is implemented in GPS Locker application for example! **_(duplicate my review)_**
_"Nice GPS testing app! Only one suggestion - add please ability to lock🔒GPS signal(status) after pressing back button (exit from app) for background staying Gps alive and don't loose 🛰 satellites! Of course as Option in Sett

[2020-02-21 07:15] mash-graz opened #377 "map view improvments"
**Summary:**

* map view does not show any actual location marker

and

* orthofoto/satellite and hybrid view does not work in the map view and accuracy section.
the accuracy tab is therefore nearly unusable.

**Steps to reproduce:**

the missing location marker in map view mode should be reproducable on any device, but the second issue could be related to my mobile operating system ([/e/](https:/

[2020-02-21 14:09] mirabilos opened #378 "Wrong time shown"
**Summary:**

The “Time:” field contains data off by an hour.

**Steps to reproduce:**

Let it get a fix; compare “Time:” shown with localtime (in Android system bar) and UTC.

**Expected behavior:**

“Time:” shows localtime as configured in Android (identical with system bar), _or_ UTC.

**Observed behavior:**

“Time:” shows time off by an hour, e.g. it is now 15:05 CET (UTC+01:00), that is 14:05

[2020-02-21 17:40] barbeau commented on #378
@mirabilos Can you please enroll in the beta testing group (https://play.google.com/apps/testing/com.android.gpstest) and try v3.6.0, which should be rolling out shortly?

I'm guessing this device might have the GPS week rollover issue. v3.6.0 highlights times that are wrong due to GPS week rollover in red, and you can tap on them for more details, including a readout off the full date and time.

[2020-02-22 16:49] mirabilos commented on #378
Sean Barbeau dixit:

No.

[2020-02-22 17:27] JonnyTech commented on #378
@barbeau for those of us non-google users how can we get the beta?

[2020-02-22 17:28] barbeau commented on #378
@JonnyTech OSMdroid should pick it up and publish it, if you want to download the APK directly see:
https://github.com/barbeau/gpstest/releases/tag/v3.6.0

[2020-02-25 17:13] mash-graz commented on #377
the reported issue could be very likely caused by flaws in the microG map viewer, because there are similar effects also noticeable in other apps on the same device.

[2020-02-25 17:36] barbeau commented on #377
@mash-graz Have you tried the OSM Droid build of GPSTest? https://f-droid.org/packages/com.android.gpstest.osmdroid/

It's probably more reliable than the Google build using microG, and unfortunately I can't really fix microG-specific issues in this build.

Note that on the OSMDroid there is a known issues on the Accuracy map view for tiles not appearing - see https://github.com/barbeau/gpstest/is

[2020-02-25 17:36] #377 closed

[2020-02-25 17:37] barbeau commented on #378
@mirabilos Can you please try the v3.6.0 build of the OSMDroid release and let me know if you see the red highlighting around your time field?

https://github.com/barbeau/gpstest/releases/tag/v3.6.0

[2020-02-25 17:44] barbeau opened #379 "Backport GPS week rollover (wrong time) highlighting to earlier versions"
**Summary:**

As discussed in #369, the GPS week rollover issue impacts mainly older devices. Therefore, it would be nice if we could backport the implementation to highlight these wrong times in PR https://github.com/barbeau/gpstest/pull/376 to earlier GPSTest releases.

It would be nice to support back to Android API level 14 Ice Cream Sandwich 4.0.1.

**Steps to reproduce:**

Run an older relea

[2020-02-25 17:57] barbeau opened #380 "NPE in UIUtils.createShareDialog()"
**Summary:**

From user report and Google Play console - crash when sharing location:

[code]

**Steps to reproduce:**

1. Enable logging in Settings
1. Deny file storage permission
1. Tap on share location

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

App version: v3.5.5 (61-google)
Model: SM-N950F (Samsung Galaxy Note8 (greatlte))
Android ver

[2020-02-25 17:59] barbeau opened #381 "NPE in UIUtils.formatLocationForDisplay()"
**Summary:**

From Google Play console:

[code]

**Steps to reproduce:**

Unknown

**Expected behavior:**

Not crash

**Observed behavior:**

Crash

**Device and Android version:**

11 reports on console - P20 lite (HWANE), OnePlus6T (OnePlus6T)

[2020-02-25 18:33] #381 closed

[2020-02-25 21:55] paulle commented on #331
![compassrose svg](https://user-images.githubusercontent.com/4852079/75291107-dd688100-5821-11ea-87dd-b5bdbb41e36b.png)

[2020-02-25 21:59] paulle commented on #331
I did this as a svg. Could it be a possible replacement for the current windrose in skyview?

[2020-02-25 22:01] paulle commented on #331
x-special/nautilus-clipboard
copy
file:///home/chris/Downloads/compassrose.svg

[2020-02-26 09:18] szangvil opened #383 "No BeiDou and Galileo on Mi8"
**Summary:**

Xiaomi Mi8 is not using BeiDou and Galileo

**Steps to reproduce:**

Just open the app

**Expected behavior:**

Track all 4 constalltions

**Observed behavior:**

A few days ago when I was Android 9, I would see all 4 constellations on the Mi8. Out of the blue and for no apparent reason, the device started to use GPS and Glonass only. Several reboots did not help.
I upgraded to Andro

[2020-02-26 09:31] szangvil commented on #383
The picture below shows the versions of each phone:
![IMG_5696](https://user-images.githubusercontent.com/61495940/75331503-826b7400-588b-11ea-948e-7b025e27bb94.jpg)

[2020-02-26 18:11] barbeau commented on #383
@szangvil Interesting - have you tried contacting Xiaomi and see what they say? Were you in roughly the same physical location when you previously got BeiDou and Galileo, compared to now when you don't?

There isn't anything GPSTest can do to change this, but I'm interested to know if others have seen something similar.

[2020-02-26 18:13] barbeau commented on #331
@paulle Thanks for putting that together! Possibly - I need to revisit this code. Currently it's just drawing on a raw Canvas, and I'm not sure off the top of my head how easy it would be to layer a vector graphic on top.

Could you put the SVG XML in a GitHub Gist? Or share a link to it via Google Drive or something similar?

[2020-02-26 18:18] #380 closed

[2020-02-26 18:23] barbeau commented on #379
Looks like GPSTest v3.2.11 was the last release for API Level 14-17:
https://github.com/barbeau/gpstest/releases/tag/v3.2.11

[2020-02-26 19:02] barbeau commented on #379
Here's a branch with the feature backported:
https://github.com/barbeau/gpstest/tree/v3.2.11-hotfix

[2020-02-26 19:59] szangvil commented on #383
@barbeau, as you can see in the attached photo, all three phones (OnePlus 7, Realme X2 and the Mi8) are on my desk getting very good signals from a GNSS repeater we have in our office.

It might be an issue with Android 10 on the Mi8...

I did not contact Xiaomi yet...

[2020-02-27 07:08] szangvil commented on #383
Update: Seems like I am not the only one...

https://c.mi.com/thread-2880216-1-1.html

[2020-02-27 09:54] paulle commented on #331
https://drive.google.com/file/d/17YLEzUqp9zn5z7XV-b3BVN_xQPHmPqOK/view?usp=drivesdk

[2020-02-27 10:09] paulle commented on #331
I had some problems with my google drive. For this reason I sent you an e-mail wit the files attached.
barbeaudev@gmail.com

[2020-02-27 18:58] barbeau commented on #379
Released in v3.2.12:
https://github.com/barbeau/gpstest/releases/tag/v3.2.12

[2020-02-27 18:58] #379 closed

[2020-02-27 19:17] barbeau opened #384 "Show GNSS time in default device locale"
**Summary:**

Currently GNSS time is formatted as follows:

[code]

It should be formatted in the default locale.

Note to myself - I need to look at #117 for the history of this.

Related to request for Settings to toggle 24 hours format - https://github.com/barbeau/gpstest/issues/358.

**Steps to reproduce:**

Look at time in Status

**Expected behavior:**

Show time in my default locale

**Obse

[2020-02-28 02:43] paulle commented on #331
![compassrose-5-degree-steps](https://user-images.githubusercontent.com/4852079/75505753-688d7680-59dc-11ea-81e0-f5428ed0c1ba.png)

[2020-02-28 18:13] barbeau opened #385 "Wrong time view isn't hidden when turning off GNSS"
**Summary:**

When showing a GPS week rollover time error, the red view isn't hidden when you turn off GNSS via the switch in the action bar

Relevant for v3.6.1 and v3.2.12.

**Steps to reproduce:**

On GPS week rollover device:
1. Get a location fix and see red time view
1. Turn off GNSS using switch in action bar

**Expected behavior:**

Red error view should be hidden

**Observed behavior:**

[2020-02-28 18:28] #385 closed

[2020-03-03 18:04] barbeau commented on #299
Related to implementing ViewModel and Service:
* https://stackoverflow.com/questions/51486170/viewmodel-when-implementing-room-in-foreground-service
* https://github.com/android/location-samples/tree/master/LocationUpdatesForegroundService/app/src/main/java/com/google/android/gms/location/sample/locationupdatesforegroundservice

[2020-03-04 18:17] barbeau commented on #271
News on this front:
https://www.minister.industry.gov.au/ministers/pitt/media-releases/australia-nz-boost-satellite-positioning-technology

Looks like the new SBAS will be called the "Southern Positioning Augmentation Network", or SPAN.

[2020-03-05 17:54] barbeau opened #386 "Crash when selecting log file on root directory"
**Summary:**

Seen on the Google Play console - if the user tries to pick a log file to share that has been stored in the root directory, you'll get the following crash:

[code]

GPSTest stores files in a hard-coded `gnss_log` directory so the user must be trying to share a file not logged via GPSTest, so this is a corner-case, but it would still be nice to not crash.

**Steps to reproduce:**

1.

[2020-03-05 18:01] #386 closed

[2020-03-06 22:21] aleasto opened #387 "Android 10 - Use force_psds_injection instead of force_xtra_injection"
`force_xtra_injection` got renamed to `force_psds_injection` in Android 10:
https://android.googlesource.com/platform/frameworks/base.git/+/master/services/core/java/com/android/server/location/GnssLocationProvider.java#1207

[2020-03-11 18:51] barbeau commented on #387
Thanks for the heads up @aleasto! I'll work on adapting the app for this.

[2020-03-11 18:54] barbeau commented on #387
Confirmed that this is new in Android 10 - the last tag of Android 9 still uses `force_xtra_injection`:
https://android.googlesource.com/platform/frameworks/base.git/+/refs/tags/android-9.0.0_r54/services/core/java/com/android/server/location/GnssLocationProvider.java#1451

[2020-03-13 19:00] barbeau commented on #387
And here's the commit that changed it:
https://android.googlesource.com/platform/frameworks/base.git/+/8c6ac67a9657777b7f1d14f13cd2747f247185da

PSDS = Predicted Satellite Data Service

[2020-03-13 19:07] #387 closed

[2020-03-13 19:08] barbeau commented on #340
Similar issue from https://github.com/barbeau/gpstest/commit/efb3b52059bf521ae2a36c525f1a68f8674337b7 - use the canonical SDK constant instead of an int value

[2020-03-13 19:17] barbeau commented on #378
I'm closing this out. If I can get more info about this issue and it doesn't seem to be an instance of GPS week rollover, then we can revisit.

[2020-03-13 19:17] #378 closed

[2020-03-13 19:20] barbeau commented on #383
@szangvil Any fix for this from Xiaomi, or is it still ongoing?

[2020-03-14 20:56] barbeau commented on #387
Released in v3.6.3, currently out in beta on Google Play, if anyone with an Android 10 device that supports PSDS wants to test:
https://groups.google.com/forum/#!topic/gpstest_android/LulZpdhpHpM

[2020-03-15 16:22] szangvil commented on #383
No fix at all.

After a phone data wipe I started getting all 4 constellations but after a few days, it went back to the same state (only GPS and GAL).

[2020-03-15 16:53] barbeau commented on #383
@szangvil interesting. Did the device install an update prior to Beidou and Galileo disappearing again?

Can you try running this via ADB and seeing if it returns anything?

`adb shell settings get global gnss_satellite_blacklist`

See https://groups.google.com/d/msg/gpstest_android/KrBe_csYFfg/OJ5fmNcWAQAJ for details - Xiaomi may be blacklisting satellites via this setting.

[2020-03-27 03:00] avkonst opened #388 "How to check if there is dophler effect support by the device?"
**Summary:**

Just a question. Want to review how accurate speed measuments by my phone.

**Expected behavior:**

Would like to see if the devices measures the speed using dophler effect or not.

**Device and Android version:**

Armor X5, android 9

[2020-03-29 22:32] barbeau commented on #388
Unfortunately Android doesn't provide any indication for how speed is calculated. You can look at the S. Acc field to get some idea of speed accuracy (https://developer.android.com/reference/android/location/Location#getSpeedAccuracyMetersPerSecond()):

[2020-03-29 22:32] #388 closed

[2020-03-29 22:54] avkonst commented on #388
Thanks for the answer. Very nice. I can benchmark 2 phones now. One is clearly better. I am going to compare my best mobile phone with the [gps speed watches](https://www.locosystech.com/en/product/gps-watch-gw-60.html) which are used during [Luderitz windsurfing speed challenge](https://www.youtube.com/watch?v=O4G2EKwaiVE). It will take some time with this virus lockdown. I can post here the upda

[2020-03-29 23:18] barbeau commented on #388
Yes, please share results!

[2020-04-09 18:24] barbeau opened #389 "Accuracy: Can't enter lat/lon on locales with "," separator"
**Summary:**

On locales such as `fi-Fi` (Finland), Samsung and Gboard keyboards won't allow you to enter `,` (comma) as a separator when entering lat and lon in the Accuracy screen. And, if you try to use `.` (dot), and click "Save", you'll get an "Invalid lat/lon" error message.

This appears to be a widespread bug among keyboards:
* https://support.google.com/chromebook/forum/AAAAmKCdEuspFtwLPJ

[2020-04-09 18:35] barbeau commented on #389
Looks like you can force keyboards to allow either `,` or `.` entry on numeric fields by adding:
`android:digits="0123456789,."`

[2020-04-09 18:37] #389 closed

[2020-04-16 09:55] lumag opened #390 "Nautical units support"
Could you please add support for Nautical Mile distance unit and knots speed unit?

Thank you!

[2020-04-16 13:11] barbeau commented on #390
@lumag I can certainly take a look!

We need a method for generally doing coordinate conversion - see https://github.com/barbeau/gpstest/issues/347#issuecomment-584259525 for discussion.

[2020-04-23 22:32] Losinsky opened #391 "Galileo and BeiDou satelites disappear in 25 second after start"
Galileo and BeiDou satelites disappear in 25 second after start everytime I start application. GPS and GLONASS satelites remain and their data update continuously.
You can see at attached screencast Galileo and BeiDou disappeared in 27 second from start.

**Observed behavior:**
[Screencast_2020-04-16-17-28-52.zip](https://github.com/barbeau/gpstest/files/4525632/Screencast_2020-04-16-17-28-52.zip)

[2020-04-26 03:52] jidanni opened #392 "Remove link to android.com from top of project page"
On https://github.com/barbeau/gpstest at the top we see:

OK, but I would remove the http://www.android.com .

All the other Android apps here on GitHub don't have a link to  http://www.android.com at the top of their project page.

And you already have links to the app on Google Play etc. below.

[2020-04-27 16:10] barbeau commented on #392
But tradition 😄! That's been there since Android 1.5, when this app was the first reference implementation for GPS on Android devices, when no one knew what Android was. But alas, you're right, it's time to remove it. It's now gone.

[2020-04-27 16:10] #392 closed

[2020-04-28 06:41] jidanni opened #393 "Numbers do not fit fully on the screen"
The only thing I might be guilty of here on my Zenfone 3, with Android 8, might be years ago having selected song larger font in Android settings do to being 60 years old. Well, as you can see the numbers are cut off at the top oh, and as azimuth is all stretched out at the bottom. When, all along, there's still enough room to move things around and squeeze things in so they don't get cut off or m

[2020-04-28 06:46] jidanni commented on #393
First, on the bottom, why don't you let the title line render by itself, and then the rest of the table render by itself also.With independent rendering the wider title line will not ruin the following flag lines.

[2020-04-28 06:49] jidanni commented on #393
Now, for the top part of the image, being that the right rows are not in a perfect column already, there is not any reason not to let them slide over even more enabling everybody to see the remaining words all the way up to the end of each line.

[2020-04-28 06:51] jidanni commented on #393
Sure, I can just rotate the screen to see everything in  landscape mode, but that really shouldn't be necessary. You've got it 99% correct already.

[2020-04-28 06:59] jidanni commented on #393
And, for the bottom part of the screen, you might as well put the title bar into the blue Status area (very top of window), because once the user scrolls down he won't see it anyway.
Hope but if he has a school down yet then it would be out of place. Nevermind.

[2020-04-28 07:07] jidanni opened #394 "openstreetmap"
Allow the user to at least choose one type of openstreetmap, instead of only the several types of proprietary maps.

[2020-04-28 07:13] jidanni opened #395 "Add scale bar to map (Google and OSMDroid)"
The map already has a North Arrow. Now all that it needs to be a standard map is a scale bar.

[2020-04-28 07:19] jidanni opened #396 "On-off button could be clearer"
Okay, I finally figured out what that switch at the top of the screen does.
But consider using a more familiar on-off button. One that becomes a square or a circle.
Currently just looking at it it's hard to tell which position is on and which position is off.

[2020-04-28 07:22] jidanni commented on #396
An even bigger problem is it moves around depending on which page you're looking at.
Sometimes it's at the most right part of the screen, but sometimes it gets shoved around by a share button or a menu button. Please be consistent in where you put it.

[2020-04-28 07:28] jidanni opened #397 "Be sure all documentation is also available offline within the app"
Be sure all documentation is also available offline within the app.
 It wouldn't make the app very much bigger at all, and the app would be totally useful (understandable) offline or on.

[2020-04-28 07:32] jidanni opened #398 "Allow zooming the Sky chart"
It's true that some items very close to each other on the sky chart will overwrite each other, even in landscape mode. Well, perhaps let the person zoom  the sky chart by moving his fingers apart.

[2020-04-28 07:38] jidanni opened #399 "Sky chart flags often overlap"
Those two flags above the rainbow bar on the sky chart often overlap each other. Well why not move one to below the rainbow bar? That way they will never overlap each other again.

[2020-04-28 07:43] jidanni opened #400 "Show GPS uptime on Status page"
On the Status page, it seems that there's just one item missing: how much time has the GPS been turned on for.

[2020-04-28 08:08] jidanni opened #401 "Be consistent with the sort icon on the status page"
When we first start the app, there is a sort icon at top, there on the status page.
Within a second or two, it becomes hidden and one has to tap the three dot menu to access sort.

You might as well be consistent and just put it in the menu from the start.

[2020-04-28 08:10] jidanni commented on #401
I am speaking about portrait mode. In landscape mode it has a whole different story.

[2020-04-28 08:15] jidanni opened #402 "Separate "used in fix" group better"
If one chooses Sort by: used in fix, on the status page... how about adding a bar separating the ones that are used in the fix, and the ones that are not.

[2020-04-28 20:41] barbeau commented on #401
@jidanni Thanks for the feedback! As you saw the menu items that appear in the overflow menu depend on the screen size, so I'd prefer to allow the Android platform to manage this.

[2020-04-28 20:41] #401 closed

[2020-04-28 20:43] barbeau commented on #399
@jidanni Thanks for the feedback! I'd prefer not to increase the vertical space that the signal meter occupies, so I'm going to leave it as is for now.

[2020-04-28 20:43] #399 closed

[2020-04-28 20:47] barbeau commented on #396
@jidanni Thanks for the feedback! Closing as duplicate of https://github.com/barbeau/gpstest/issues/325.

[2020-04-28 20:47] #396 closed

[2020-04-28 22:03] barbeau commented on #394
@jidanni Thanks for the feedback! There is a pure OSS version on F-Droid with OSM maps you can check out:
https://f-droid.org/packages/com.android.gpstest.osmdroid/

[2020-04-28 22:03] #394 closed

[2020-04-28 22:06] barbeau commented on #393
@jidanni Thanks for the feedback! I'm closing this as a duplicate of https://github.com/barbeau/gpstest/issues/176. Please comment there so we can keep all related comments in the same place.

[2020-04-28 22:06] #393 closed

[2020-04-29 01:38] jidanni commented on #394
Waaa... One has to install/use F-droid (uggg!) to get a version that uses openstreetmap (but then probably not googlemaps,)
I have an idea. Do like https://play.google.com/store/apps/details?id=net.psyberia.offlinemaps , where one can not only choose google maps, but also openstreetmaps!

[2020-04-29 03:27] barbeau commented on #394
No need to install FDroid - you can download the APK from the releases page:
https://github.com/barbeau/gpstest/releases

[2020-04-29 03:40] jidanni commented on #394
I'm telling you, it is entirely legal to offer openstreetmap and google
maps on the same menu. You needn't maintain two entirely separate
versions of the app to do this.

Google will not kick you off Google Play for combining your two apps
into a single version.

Yes, maybe in the past they would, but not anymore.

[2020-04-29 03:46] barbeau commented on #397
Thanks for the feedback! See main menu "Help-About" for existing in app documentation, and https://github.com/barbeau/gpstest/issues/323 for potential improvements.

[2020-04-29 03:46] #397 closed

[2020-04-29 17:04] barbeau commented on #402
@jidanni Thanks for the feedback! The "U" flag indicates which satellites are used in a fix. Closing this as a duplicate of https://github.com/barbeau/gpstest/issues/322.

[2020-04-29 17:04] #402 closed

[2020-04-29 17:08] barbeau commented on #391
@Losinsky Thanks for reporting this! That's really strange. Another user reported a similar issue with a BQ Aquaris device.

It's definitely an issue with the device and not the app, so I'd suggest you contact BQ and ask why this is happening. Feel free to post on the Google Group about this too so other users can chime in with what they are seeing too:
https://groups.google.com/forum/#!forum/gpst

[2020-04-29 17:08] #391 closed

[2020-04-29 17:17] barbeau commented on #400
@jidanni Thanks for the feedback! Android doesn't provide this value directly, so the app would need to calculate it, which poses some challenges depending on what you're looking for.

Some questions:
1. What would you use the uptime value for?
1. Do you expect the app to show (a) how long it has been running for, or (b) how long the underlying GNSS hardware has been active?

(a) is pretty straigh

[2020-04-29 17:25] barbeau commented on #395
@jidanni Thanks for the feedback!

Looks like OSMDroid supports this natively:
https://osmdroid.github.io/osmdroid/javadocAll/org/osmdroid/views/overlay/ScaleBarOverlay.html

...but to my knowledge Google Maps does not.

There are also third-party libraries to achieve this:
https://github.com/pengrad/MapScaleView

It may be easiest to just use the 3rd party library on both for consistency.

[2020-04-29 17:29] barbeau commented on #391
See also related issue https://github.com/barbeau/gpstest/issues/383 for the Xiaomi Mi 8.

@Losinsky Can you try running the below command via ADB and seeing if it returns anything, both before and after the satellites disappear?

`adb shell settings get global gnss_satellite_blacklist`

See https://groups.google.com/d/msg/gpstest_android/KrBe_csYFfg/OJ5fmNcWAQAJ for details - Xiaomi may be blackl

[2020-04-29 17:30] barbeau commented on #383
Closing this for issue clean-up, as it's a device issue and not the app. But, please continue to post updates if anyone has more info.

[2020-04-29 17:31] #383 closed

[2020-04-29 18:02] jidanni commented on #400
All I know is the [competition](https://play.google.com/store/apps/details?id=com.chartcross.gpstest) has a "First fix time",
![X1](https://user-images.githubusercontent.com/1230959/80630040-3785fc80-8a86-11ea-885a-79d877cfa5f4.jpg)
The idea is the user would like to know "am I looking at figures from a 'just started' GPS, or a 'well warmed up' GPS?" even if not entirely accurate. As far as (a) vs

[2020-04-29 18:22] barbeau commented on #400
GPSTest has TTFF, which is time-to-first-fix, or the duration between when the app was started and the when the first GNSS fix was acquired. The above screenshot is just this value converted to a clock time.

So, if you start the app at 12:00, and it gets a fix at 12:05, GPSTest will show "5 minutes", while the above app would show "12:05".

[2020-04-29 18:24] jidanni commented on #395
I also found
https://stackoverflow.com/questions/2094648/google-maps-api-how-to-add-a-scale-measure-on-a-map

[2020-04-29 18:35] jidanni commented on #400
"24:14" can't be HH:MM as HH only go 00-23. So You mean the above app would show 05:00.
Anyways I'm glad you have TTFF. But I would be sure it appears in the first photograph (daylight white screen) there on Google Play. (Plus some other blank fields.)

[2020-04-29 19:04] Giolly90 commented on #391
Hi, I do have similar instability with BeiDou and Galileo satellites. In my case, when I start the app I see immediately a certain number of GPS, Glonass and BeiDou satellites even if they have no C/N0 values, it is like they are memorized by the app or device.
For what concerns Galileo satellites, they only appear after let's say 2 minutes after app opening, and I see only those satellites the de

[2020-04-30 08:17] jidanni commented on #394
As an example, one of my houses is deep in the woods. All you can see on Google is trees therefore I can't use Google. I need openstreetmap because it's on openstreetmap.

Another one of my houses is clearly visible on Google because there's no trees on top of it. As you can see it would be great to have both Google and openstreetmap in the same app.

[2020-04-30 08:20] jidanni commented on #400
Oops, oops, oops. I meant that I want the current time since the current fix that I am using started. For instance, I launch the app and it takes a half a minute to finally get a fix. Okay, now  start this counter that I want Counting.

[2020-04-30 20:07] barbeau commented on #296
I've opened an issue on android-maps-utils to support general WGS84<->MSL altitude conversion - https://github.com/googlemaps/android-maps-utils/issues/704.

[2020-05-02 13:29] alpterlab commented on #268
Hello ! It must be a reason why the Mi9 wont allow ADR (carrier phase) and his little brother Mi8 it does...  In the market report of the [Mi9 does state ](https://www.mi.com/uk/mi9/specs)all the goods about dual freq GPS....
Therefore there must be either a technical or commercial reason....
Any idea @benzfish  ?
Something it seems to be updated regarind GPS data sensor... maybe this could be als

[2020-05-07 07:16] Fuzl opened #404 "Logging resets on a portrait/landscape mode change"
**Summary:**

A new log file is created on each portrait/landscape mode change

**Steps to reproduce:**

- Launch app with file logging enabled. Go into "Accuracy" view.
- Change from portrait to landscape
- An information bubble states a new logging file is created

**Expected behavior:**

No new logging file on portrait/lanscape change

**Observed behavior:**

**Device and Android version:**

Pi

[2020-05-08 15:57] barbeau commented on #404
@Fuzl Thanks for reporting this! I'll take a look.

[2020-05-08 17:19] barbeau commented on #404
Work-in-progress PR at https://github.com/barbeau/gpstest/pull/405.

[2020-05-19 12:43] wforw opened #406 "Android 11 Compatibility Problem"
**Summary:**

On Android 11 device, this app cannot show the satellites information

**Steps to reproduce:**

Installed on Android 11

**Expected behavior:**

Shows normal

**Observed behavior:**

Without satellites information

**Device and Android version:**

 Android 11

notifyDataSetChanged will  throw "Only the original thread that created a view hierarchy can touch its views."
setValue will

[2020-05-19 14:56] barbeau commented on #406
@wforw Thanks for flagging this! Are you seeing this on the Android 11 emulator or a real device? If a real device, which make and model and which preview do you have loaded?

I can reproduce on the Android 11 emulator.

Here are the stack traces I'm seeing:

[code]

...and:

[code]

[2020-05-19 17:57] barbeau commented on #406
I think this is a bug with Android R and/or R emulator, as these callbacks shouldn't be happening on a background thread. I've opened an issue on AOSP here:
https://issuetracker.google.com/issues/157059134

[2020-05-20 09:42] wforw commented on #406
I use a real device to test.  But sorry, I cannot provide the model and push the commits for company's security policy.

You can use the postValue to replace the setValue and surround the notifyDataSetChanged by RunOnUIThread.  That may be helpful

[2020-05-21 16:14] Giolly90 opened #407 "SBAS 125 does not have a flag"
I spotted on a Samsung Galaxy A6+ this SBAS satellite number 125. What is it?
![IMG_20200520_175615](https://user-images.githubusercontent.com/46520205/82579971-d508b380-9b8e-11ea-9b90-3a182843445e.jpg)

[2020-05-21 19:51] barbeau commented on #407
@Giolly90 Interesting, thanks for sharing! Looks like this is SDCM, which is Russia's SBAS system:
http://mgex.igs.org/IGS_MGEX_Status_SBAS.php

See also:
https://www.gpsworld.com/gnss-systemaugmentation-assistancenewsrussian-sbas-satellite-move-13114/

I'll work on adding this to the app so it shows the proper flag.

[2020-05-21 20:05] Giolly90 commented on #407
Thank you for the commitment to this fantastic app!
To add more details, I saw this sbas in northern Italy yesterday for a couple of minutes and then it was gone

[2020-05-25 21:49] iriman opened #408 "Persian localization"
**Summary:**

Persian localization is done via Transifex. I would be grateful if you can update it in the app.

[2020-05-26 17:31] barbeau commented on #408
@iriman Thanks for working on this! I'll try to get it into the next update. I haven't had as much time to work on the app recently, but hopefully soon 🤞 .

[2020-05-27 17:00] barbeau commented on #395
I've opened an issue on the Android Maps Utils library to support this feature too - https://github.com/googlemaps/android-maps-utils/issues/701.

[2020-05-27 19:13] #407 closed

[2020-05-29 17:24] m31d4ri0n opened #409 "Add GPS date field to the display"
**Request:**
When using the application we would benefit from being able to see the GPS date, time and location data fields on the screen at the same time.

**The Why:**
The use of your application would help combat illegal poaching as part of anti-poaching operations aboard a fleet of vessels.

The current requirements for making photographic evidence requires that a photographer takes a photo of

[2020-05-29 22:21] barbeau commented on #409
Thanks @m31d4ri0n for the feedback, and I appreciate the context of the use case! Let me think about the best way to accomplish this. The larger font concept is also related to https://github.com/barbeau/gpstest/issues/176.

Would adding the date and time to the "Share" screen (tap the arrow in the top blue action bar after getting a fix) below the existing lat/long work?

I could add a "Include d

[2020-06-01 14:44] m31d4ri0n commented on #409
_Would adding the date and time to the "Share" screen (tap the arrow in the top blue action bar after getting a fix) below the existing lat/long work?_

Due to the nature of initial arrests of illegal vessels, it's a disadvantage to have any photographic evidence which can be disputed and there are **big** **challenges** in getting criminals into a court of law to face scruitiny.

With that in min

[2020-06-01 18:14] barbeau commented on #409
@m31d4ri0n Here's an example screenshot of what date would look like as part of the Share screen:

![image](https://user-images.githubusercontent.com/928045/83439901-fc267700-a411-11ea-9570-81475b0c6d6f.png)

What I'm hearing you say is that for your use case this screen is too busy and not clear enough. Is that correct?

[2020-06-02 08:01] m31d4ri0n commented on #409
Hi Barbeau,

_What I'm hearing you say is that for your use case this screen is too busy and not clear enough. Is that correct?_

The share screen loses a lot of it's 'official' feel. It no longer looks like an official tool. It looks like a share screen which could be debated.

The advantage you have with the status screen is it shows active satellites and is part of your application, running liv

[2020-06-02 14:27] barbeau commented on #409
@m31d4ri0n Thanks, that definitely makes sense.

My original thought (prior to considering the low light and motion environment) was to simply add the date next to the time, so instead of:

`Time: 17:57:16`

...it would look something like:

`Time: 17:57:16, Jul 4, 2020`

I'll likely only add the date on screens that are wide enough to accommodate it in portrait.

With this design, to help with th

[2020-06-03 12:14] CongPhungHuynh opened #410 "Conh1976"
`**Summary:**`

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did y

[2020-06-03 13:13] barbeau commented on #410
Closing this out for cleanup - @CongPhungHuynh let me know if opening this issue wasn't accidental, there isn't any content.

[2020-06-03 13:13] #410 closed

[2020-06-03 18:36] #408 closed

[2020-06-03 18:38] barbeau commented on #408
@iriman Thanks for doing the Persian translation! I just added the code and I'll try to get out a new beta soon with this. Please sign up as a beta tester if you haven't yet so you can take a look at it in the app:
https://github.com/barbeau/gpstest/blob/master/BETA_TESTING.md#register-as-a-beta-tester

Two quick questions:
* I used `زبان فارسی` for the Persian language in the list of available la

[2020-06-03 20:52] iriman commented on #408
Thank you @barbeau. I opt-in to the beta test and waiting for Play Store to make it available to me.

About questions:
1.  That's correct. However, `فارسی` is enough, `زبان` means `language`.
2. Good. I prefer `Iman (imni)`

[2020-06-07 11:50] curiousrom opened #411 "Update FAQ: Replace XTRA with PSDS"
In GPSTest v3.6.4 in the Menu & Help it says "Inject PSDS data" but in the github FAQ page at the present it says "Inject XTRA Data" & no mention at all of PSDS in the page: https://github.com/barbeau/gpstest/blob/master/FAQ.md

I do see in the [GPSTest](https://play.google.com/store/apps/details?id=com.android.gpstest&hl=en) Google Play page > WHAT'S NEW: "XTRA renamed to PSDS (Predicted Satellit

[2020-06-08 22:07] #411 closed

[2020-06-08 22:08] barbeau commented on #411
Thanks @curiousrom for flagging this! I just updated the FAQ and the Google Play listing. I'll work on replacing the screenshot on Google Play too.

[2020-06-11 03:12] goldfndr commented on #409
Displaying "EST" instead of "EDT" during DST would appear to be a bug (that might be adequate for a dispute), unless the device is in a location within the Eastern Timezone that doesn't observe DST.

[2020-06-11 04:22] barbeau commented on #409
@goldfndr if you're referring to my example screenshot above, you can ignore that - I just typed in the text to fill the mockup, and accidentally wrote "EST".

[2020-06-16 23:51] barbeau commented on #409
@m31d4ri0n A pull request for this feature with screenshots is available at https://github.com/barbeau/gpstest/pull/412, if you want to check out what it looks like on a Samsung Galaxy S8+.

I'd like to do a little more testing on other screen widths to see if I've gotten the 450dp threshold about right.

[2020-06-17 22:13] #409 closed

[2020-06-23 00:28] shooreek opened #413 "Update Russian translation"
**Describe the bug**
In Russian translation one link is broken, wording could be more accurate

**To Reproduce**
Steps to reproduce the behavior:
1. Get device vulnerable to GPS week number rollover issue
2. Tap on the highlighted and incorrect time to see message explaining what's wrong

**Expected behavior**
Everything is fine.

**Observed behavior**
- Link is followed by a dot which is consider

[2020-06-23 14:25] barbeau commented on #413
@shooreek Thanks for the report! Hmmm...you should be able to make these changes on Transifex, and then I can pull the strings into the project from there. Are you saying the above string isn't the same at https://www.transifex.com/sean-barbeau/gpstest-android/language/ru/?

[2020-06-23 16:59] barbeau commented on #409
@m31d4ri0n This feature is live in the v3.7.0 beta if you want to check it out - https://groups.google.com/forum/#!topic/gpstest_android/gaI2NJiDhFo.

[2020-06-23 20:25] shooreek commented on #413
@barbeau, I did my changes to this string on Transflex and grabbed the file via "Download for use". But it turned out that grabbed file has few other differences except for my change: `main_help_whatsnew` and `help_text` strings were missing in Transflex file but present in master.

So I took file from master and updated it so one can simply take it and commit. If you prefer to pull from Transflex

[2020-06-23 22:07] barbeau commented on #413
@shooreek Thanks for the info.

Yes, when I update English strings on GitHub (e.g., whats new and help), Transifex automatically removes them from translations in other languages so they can be re-translated. When I run the command-line tool to pull changes from Transifex into my local GPSTest project, I get all the new translations, but then I usually keep some of the old translations for things

[2020-06-26 20:47] barbeau opened #414 "Date isn't showing on Status screen in 24 hr format"
**Describe the bug**
In some cases the date isn't shown next to time in Status landscape view:
https://groups.google.com/forum/#!msg/gpstest_android/gaI2NJiDhFo/6PSXwNq_BQAJ

![image](https://user-images.githubusercontent.com/928045/85899799-a94f9d80-b7cc-11ea-98ea-72898c92f660.png)

Maybe due to 24 hr format?

**To Reproduce**
Steps to reproduce the behavior:
1. Turn device to landscape
1. Wait f

[2020-06-26 22:17] #414 closed

[2020-06-27 12:43] iriman opened #415 "breaking 'help_text' key into multiple strings on transifex"
'help_text' in 'strings-xml' on transifex contains a long text. First translation is not a problem but:
- updating it is too hard because there is no diff tool available in transifex for source strings
- being that long, causes whole help content become untranslated by a small change in that string.

**Describe the solution you'd like**
Breaking this string into smaller parts could help.

Thanks

[2020-06-28 07:21] ValZapod commented on #413
It is now correctly translated https://www.transifex.com/sean-barbeau/gpstest-android/translate/#ru/strings-xml/194446402?q=text%3Agps-week so next release will have correct text.

[2020-06-28 07:24] ValZapod commented on #384
Why the time has GMT+03:00 or whatever? It better be UTC+03:00. GMT zone now is defined as UTC not as GMT time standard.

[2020-06-28 23:10] CongPhungHuynh commented on #410
cong Phung HUYNH

[2020-06-30 16:07] barbeau commented on #384
@ValZapod Could you share a screenshot of what you're seeing?

[2020-06-30 16:23] ValZapod commented on #384
![Screenshot_20200630-192249_GPSTest](https://user-images.githubusercontent.com/31514790/86151234-23eb2680-bb07-11ea-967e-48bcbf6dcec6.png)

[2020-06-30 16:23] barbeau commented on #415
Thanks @iriman, I agree this could help! There is already an issue open on this at https://github.com/barbeau/gpstest/issues/329 - let's continue the discussion there.

[2020-06-30 16:23] #415 closed

[2020-07-01 14:54] barbeau commented on #384
@ValZapod What time zone are you located in?

[2020-07-01 14:57] ValZapod commented on #384
MSK UTC+03:00, Moscow.

[2020-07-02 20:56] barbeau commented on #406
This has been marked as fixed by the Android team and it will become available in a future Android release:
https://issuetracker.google.com/issues/157059134#comment5

[2020-07-02 20:56] #406 closed

[2020-07-07 17:15] barbeau commented on #384
@ValZapod Thanks! In short, I'm not exactly sure why Android prefers the text `GMT` over `UTC` - it's the output of the `SimpleDateFormat` class in Android:
https://developer.android.com/reference/java/text/SimpleDateFormat#timezone

For me in Tampa, FL, USA, it shows `Jul 7, 2020 EDT`.

[2020-07-07 17:18] barbeau commented on #384
Looking at this issue again, I believe it can be closed - we already have the time and date based on device locale. See https://github.com/barbeau/gpstest/issues/117#issuecomment-368720692.

[2020-07-07 17:18] #384 closed

[2020-07-07 17:23] ValZapod commented on #384
Because from that doc

[2020-07-08 18:23] barbeau opened #416 "Real-time signal strength indicators not visible on Android 4.0.4 phone"
**Describe the bug**
Reported in https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/gpstest_android/B0CGMbYJclg/BTFdn94XCAAJ.

On older version of GPSTest 3.2.12 and Android 4.0.4, the real-time signal strength indicators are missing/flattened on the Sky view:

![image](https://user-images.githubusercontent.com/928045/86956086-8d31f180-c126-11ea-88de-db72c5a58e6b.png)

**To R

[2020-07-08 18:55] barbeau commented on #416
I can't reproduce this on an Android 4.0.3 emulator because no SNR or C/N0 data is generated from the GNSS status APIs - the Sky view is just blank:

![image](https://user-images.githubusercontent.com/928045/86958997-0d5a5600-c12b-11ea-95f2-a9ce4ee9a3a1.png)

[2020-07-17 21:52] #413 closed

[2020-07-17 21:56] barbeau opened #417 "Add "GNSS lock" indicator"
**Is your feature request related to a problem? Please describe.**
From user:

**Describe the solution you'd like**
Show a visual indication of whether the device is currently maintaining a GNSS signal lock (other than the time field continuously ticking up)

**Describe alternatives you've considered**
No nothing

[2020-07-22 18:19] barbeau opened #418 "Add Ukrainian and Korean translations"
**Is your feature request related to a problem? Please describe.**
Looking at Transifex, Ukrainian (uk) and Korean (ko_KR) both look like they are ready to be integrated into the app:
* https://www.transifex.com/sean-barbeau/gpstest-android/dashboard/

[2020-07-23 16:16] barbeau opened #419 "Add support for logging GnssAntennaInfo in raw measurements"
**Is your feature request related to a problem? Please describe.**

Android 11 adds a new GnssAntennaInfo class:
* https://developer.android.com/preview/features#gnss
* https://developer.android.com/reference/kotlin/android/location/GnssAntennaInfo

This info should eventually be logged as part of raw measurements, but given I've been trying to keep compatibility with Google's https://github.com/g

[2020-07-23 16:23] #418 closed

[2020-07-23 17:13] barbeau opened #420 "Update app to target Android 10 (API 29)"
**Is your feature request related to a problem? Please describe.**
When publishing update to Google Play I now see the message:

From November 2020, app updates must target Android 10 (API level 29).

**Describe the solution you'd like**
Update to target API 29

**Describe alternatives you've considered**
None

[2020-07-26 07:18] GeoZac commented on #277
Maybe a explanation not to adopt the darkest black and stick to the Material Themes :
https://www.xda-developers.com/amoled-black-vs-gray-dark-mode/

[2020-07-26 09:18] AdiityaAndre commented on #318
I've had some issues. Either it is related with this.
Ground truth location can not be edited while we already had pin on location. The field is greyout. We can only tap on the maps  when we want to edit the ground truth location.

[2020-07-28 10:04] Nronaldo opened #421 "Could you show if the carrier-phase is valid in your app？"
**Is your feature request related to a problem? Please describe.**
I find some smartphones confirm they support dual-frequency GNSS and shows dual-frequency GNSS in you app. However, we cannot read the the carrier-phase with "getAccumulatedDeltaRangeMeters" API.   I test Xiaomi Mi 9 Xiaomi Mi10 OnePlus 7. They cannot output carrier-phase.
I wonder which smartphones can provide valid carrier-phase

[2020-07-28 18:15] tucotuco opened #422 "Support for iOS"
**Is your feature request related to a problem? Please describe.**
We use GPS Test extensively when teaching courses on georeferencing, and have even made a video to support these activities. In some countries iPhones are used with enough frequency that some of our sutedents are left without a good alternative that we know of. When teaching in person, this isn't so much of an issue because the stu

[2020-07-29 08:13] sandoxy opened #423 "GPS not working"
![Screenshot_2020-07-29_10-09-45](https://user-images.githubusercontent.com/38521726/88775905-95a9a500-d185-11ea-805d-64c22945a47d.png)
Recently my gps stopped working. No app is getting a gps signal, the search process never stops. I tried it at dufferent locations. But GPS Test seems getting a signal. How can I see, whether my gps sensor is not broken?

[2020-07-30 20:16] sm4rk0 commented on #277
That article makes sense, but
1. This app has #303030 for "dark" background (Although a comment above says #202020. I took a screenshot and opened it in Simple Draw app, then went to color chooser and picked the same color), which is far brighter than #121212 from the article
2. Some people just prefer black over (dark) gray, regardless of battery savings

[2020-08-05 00:35] gnusuari0 opened #424 "Can't edit Accuracy view longitude and latitude"
**Describe the bug**
Accuracy view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to accuracy view.
2. Tap on edit.
3. Tap on longitude or latitude textview.
4. Nothing happens.

**Expected behavior**
Software keyboard should appear, allowing to type coordinates.

**Observed behavior**
A clear and concise description of what actually happened.

**App, Device and Android version:**
v3.7.2

[2020-08-05 00:38] gnusuari0 commented on #424
And as you can see, OSM map does not load. The Map view works as expected.

[2020-08-05 17:23] barbeau commented on #424
@gnusuari0 Thanks for reporting this! I noticed that something strange happened too - I updated the Android library used for the top card view it appears something broke in the process. I'll take a look.

[2020-08-05 18:51] barbeau commented on #423
@sandoxy Looks like there aren't enough satellites with a strong enough signal in view for your hardware to calculate a location fix - when you get a fix, a second bubble will be added with a thicker border, which shows the avg signal strength for satellites used in the fix.

I'd try rebooting your device outdoors with a clear view of the sky and a good wireless connection (cellular or Wi-Fi) - ho

[2020-08-05 18:51] #423 closed

[2020-08-05 19:10] barbeau commented on #422
@tucotuco Thanks for reaching out! Glad it's helpful, I actually started working on this app when teaching a GPS class myself.

The only open-source iOS GPS apps I know of are here - https://github.com/barbeau/awesome-gnss#ios-apps-open-source.

Unfortunately my iOS development skills are basically non-existent. I'd love to work on an iOS version of GPSTest, especially if we could figure out a way

[2020-08-05 22:08] barbeau commented on #424
Looks like this was a bug in the `constraint-layout:2.0.0-beta6` library release.

Changing to `implementation 'androidx.constraintlayout:constraintlayout:2.0.0-rc1'` fixes this.

[2020-08-05 22:10] #424 closed

[2020-08-06 12:32] YoavZangvil opened #425 "Log file has duplicate lines for "Fix" entries"
**Describe the bug**
When enabling the logging "Location" option, the created log file has doubled entries for "Fix" entries

**To Reproduce**
1. Enable log
2. select Location
3. Run the app for a few minutes
4. Close the app
5. Open the log file in a text viewer

**Expected behavior**
Each "Fix" line should be unique.

**Observed behavior**
There are double lines each time for each "Fix" entry

*

[2020-08-06 12:35] YoavZangvil commented on #425
Attached is a screenshot of the log file.

![Untitled](https://user-images.githubusercontent.com/66993685/89532441-78667d80-d7fa-11ea-9784-c019216b4dd9.png)

[2020-08-06 17:40] barbeau commented on #277
Hopefully switching to the official dark mode will also fix this issue in Settings on legacy devices:

Model: E39
Android version: 4.4.2 / 19

![image](https://user-images.githubusercontent.com/928045/89564022-62e95780-d7ea-11ea-9328-eab9648fe492.png)

[2020-08-06 22:05] barbeau commented on #425
Thanks for reporting this @YoavZangvil! The fix will be in the next beta release. If you're not signed up for beta updates and would like to check it out, see https://play.google.com/apps/testing/com.android.gpstest.

[2020-08-06 22:06] #425 closed

[2020-08-06 22:11] barbeau commented on #421
@Nronaldo Thanks for the feedback! I agree, it's hard to tell this right now, especially since it appears Google has removed the supported devices list from https://developer.android.com/guide/topics/sensors/gnss#supported_devices (I *think* `getAccumulatedDeltaRangeMeters()` support was listed there?).

I think showing this information in GPSTest would work well within the new Device Info tab I'v

[2020-08-07 22:03] barbeau commented on #425
This is fixed in the latest v3.7.3 release which is now in beta, if you want to test it out!

[2020-08-07 22:04] barbeau commented on #424
This is fixed in the latest v3.7.3 release which is now in beta, if you want to test it out!

[2020-08-07 22:05] barbeau commented on #318
@AdiityaAndre Sorry about this - it was a bug in an Android library. This is fixed in the latest v3.7.3 release which is now in beta, if you want to test it out!

[2020-08-08 05:57] AdiityaAndre commented on #318
@barbeau Thanks sir..

[2020-08-08 18:19] gnusuari0 commented on #424
Nice.I'm an F-Droid user... I'll wait for the app to be published there.

[2020-08-09 09:50] plaformsre opened #426 "Support for NTRIP Web source"
**Is your feature request related to a problem? Please describe.**
We need NTRIP support for improving our positional accuracy in real time (RTK).

**Describe the solution you'd like**
An NTRIP endpoint with credentials authentication.

**Describe alternatives you've considered**
Not really applicable, NTRIP is an open technology standard and very helpful in RTK

**Additional context**
I would be

[2020-08-12 18:09] tucotuco commented on #422
@barbeau Thanks Sean for the response. After some searching we were able to find the iGeoTrans X Lite in the App Store (https://apps.apple.com/us/app/igeotrans-x-lite/id471361224). I'm not able to assess it because I don't have access to an iPhone (in quarantine in the mountains in Patagonia), but others in the course confirm that it has the characteristics we need for the course. It would indeed

[2020-08-13 16:39] barbeau opened #427 "Add Basque language"
**Is your feature request related to a problem? Please describe.**

Looks like the Basque language translation is complete and ready for integration testing:
https://www.transifex.com/sean-barbeau/gpstest-android/language/eu/

**Describe the solution you'd like**
Add Basque language

[2020-08-14 20:36] barbeau opened #428 "Add Indonesian language"
**Is your feature request related to a problem? Please describe.**

Looks like the Indonesian language translation is complete and ready for integration testing:
https://www.transifex.com/sean-barbeau/gpstest-android/language/id/

Describe the solution you'd like
Add Indonesian language

[2020-08-18 09:21] paulle commented on #420
Why not update to android11, API level 30, because android11 will be released in some weeks. This would avoid problems for users getting the update fast or getting a new phone running android11 and there would be no need updating the API level for a year or so.

[2020-08-18 16:17] barbeau commented on #420
@paulle So "targeting Android 10" and "supporting Android 10" are two different things in the Android world. GPSTest currently supports Android 10 and 11, and should run on both of them (and future Android versions) without problems.

Increasing the `targetSdkVersion` in the app, which is what this issue refers to, means that the developer has made changes to the app required by Google to moderniz

[2020-08-18 16:39] paulle commented on #420
Thank you for explanation.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
Am 18. Aug. 2020, 18:18, Sean Barbeau schrieb:

[2020-08-20 22:48] #298 closed

[2020-08-27 09:59] staticssleever668 opened #430 "Adaptive icon support"
I want support for adaptive icons to be added as this is like an eyesore - in the app list where most of the icons are circle there are a few that doesn't fit the style. Most modern Android apps support it.

[2020-08-27 10:06] staticssleever668 opened #431 "Splash screen according to selected theme"
**Is your feature request related to a problem? Please describe.**
Sometimes when you open the app in the dark you may see a flashing white screen even if a dark theme is selected - pretty disturbing

**Describe the solution you'd like**
I want this app to have splash screens for dark and light themes accordingly - when dark theme is used then show a dark splash, if light theme is used then show a

[2020-08-27 17:12] barbeau commented on #431
Thanks for the feedback @staticssleever668! I agree, this is annoying. FWIW, this isn't an intentional choice, but how Android launches activities prior to the official dark mode support - so something I couldn't control when I initially implemented dark mode in GPSTest. But hopefully it should be resolved when I switch to official dark mode support.

This is a duplicate of https://github.com/barb

[2020-08-27 17:12] #431 closed

[2020-08-27 17:15] barbeau commented on #430
@staticssleever668 Thanks for the reminder! That's something I can work on. Out of curiosity, could you share a screenshot of how this currently looks on your device, with you device make, model, and Android version?

[2020-08-27 18:23] #427 closed

[2020-08-27 19:06] staticssleever668 commented on #430
Sorry, but because of my stupid privacy reasons I can only give you these
![image](https://user-images.githubusercontent.com/64694940/91484193-67100e80-e898-11ea-9751-3f913071925d.jpg)
![image2](https://user-images.githubusercontent.com/64694940/91484202-6a0aff00-e898-11ea-99bc-3016d00cb187.jpg)

[2020-08-27 20:20] JonnyTech commented on #430
@barbeau here is a selection from my Android 9 device
![img_6](https://user-images.githubusercontent.com/3584732/91490897-1655e100-e8ab-11ea-9074-cac3d5eda2d7.jpg)

[2020-08-28 16:42] barbeau commented on #426
@mapdegree Thanks for the feedback! So right now GPSTest doesn't calculate the position itself from raw measurements, it just shows the position calculated by the device hardware. So this would require adding calculating the position from raw measurements to the app as well. Given this is a side project for me I don't know how soon that would happen, but I'd certainly love to collaborate with some

[2020-08-31 22:04] #430 closed

[2020-09-01 17:38] #340 closed

[2020-09-01 17:38] #420 closed

[2020-09-01 18:17] barbeau commented on #430
@JonnyTech @staticssleever668 Adaptive icon support is now in the beta release for v3.8.0 - could you please check it out and see if it looks better on your devices?

Sign up for betas from Google Play at:
https://play.google.com/apps/testing/com.android.gpstest

[2020-09-01 19:24] JonnyTech commented on #430
Thanks @barbeau, but sorry but I do not use Google Apps so cannot access the beta. Can you provide a prebuilt apk?

[2020-09-01 20:34] barbeau commented on #430
@JonnyTech Sure, see https://github.com/barbeau/gpstest/releases/download/v3.8.0/osmdroidRelease-v3.8.0.apk

[2020-09-01 20:38] Giolly90 commented on #430
It's working fine for me!
![Screenshot_20200901-223549](https://user-images.githubusercontent.com/46520205/91903650-dd9b7a80-eca3-11ea-985c-304740dd56e0.jpg)
![Screenshot_20200901-223538](https://user-images.githubusercontent.com/46520205/91903652-de341100-eca3-11ea-9dd4-029fe8e177b7.jpg)
![Screenshot_20200901-223513](https://user-images.githubusercontent.com/46520205/91903653-decca780-eca3-11ea-9

[2020-09-01 22:14] JonnyTech commented on #430
Perfect here too - great job, thanks Sean!

![img_1](https://user-images.githubusercontent.com/3584732/91911255-94015e80-eca8-11ea-860d-c1ce7cb08ec3.jpg)

[2020-09-01 23:39] barbeau commented on #430
Thank for testing - glad it works! 😅

[2020-09-04 03:20] barbeau opened #434 "Stopping GNSS should clear filter text"
**Describe the bug**
Stopping GNSS should clear the current filter text. Currently, the previously displayed text remains, which shows something like "Showing 9 of 15 satellites (show all)"

**To Reproduce**
Steps to reproduce the behavior:
1. Filter a GNSS
1. Stop GNSS

**Expected behavior**
Filter text should disappear

**Observed behavior**
Filter text is still visible

**App, Device and Androi

[2020-09-04 16:17] barbeau opened #435 "Polish translation too long on Status"
**Describe the bug**
The Polish translation changed at some point and is now too long on the Status view:

![image](https://user-images.githubusercontent.com/928045/92262013-78fd3d00-eea8-11ea-98e8-3db0622b535c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to Polish translation via Settings
1. View Status screen

**Expected behavior**
Text should fit within window

**Observed b

[2020-09-08 17:13] #417 closed

[2020-09-08 17:23] #434 closed

[2020-09-09 18:19] #435 closed

[2020-09-09 22:06] barbeau commented on #419
Looking closer at this API, it has a separate listener for events:
https://developer.android.com/reference/android/location/GnssAntennaInfo.Listener

...and passes back a list of GnssAntennaInfo objects:
https://developer.android.com/reference/android/location/GnssAntennaInfo

...which includes arrays of values. So this will need to be logged as a separate line(s) in the log file with it's own pre

[2020-09-09 22:17] barbeau commented on #398
Some examples showing scaling on an Android canvas are here:
https://developer.android.com/training/gestures/scale#scale

...which point to this demo class:
https://android.googlesource.com/platform/development/+/master/samples/training/InteractiveChart/src/com/example/android/interactivechart/InteractiveLineGraphView.java

[2020-09-09 22:33] barbeau commented on #150
Cloud-based styling is now an option as well. although it requires updating to the standalone v3.1 beta SDK:
https://developers.google.com/maps/documentation/android-sdk/cloud-based-map-styling

[2020-09-09 22:57] #150 closed

[2020-09-10 16:55] #151 closed

[2020-09-14 21:17] barbeau commented on #422
Kotlin Multiplatform Mobile is now in Alpha:
https://blog.jetbrains.com/kotlin/2020/08/kotlin-multiplatform-mobile-goes-alpha/

[2020-09-15 00:12] barbeau opened #436 "Can't enter negative sign for lat/lon/alt in Accuracy view"
**Describe the bug**
In Accuracy view, if you type a negative sign into the latitude, longitude, or altitude text boxes, nothing happens (no negative signs are added).

I think the changes in https://github.com/barbeau/gpstest/issues/389 broke this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Accuracy view
2. Tap on fields for latitude, longitude, or altitude
3. Type `-`

**Expecte

[2020-09-15 00:25] #436 closed

[2020-09-20 21:40] paulle opened #437 "White outlines for satellites in use for dark theme"
White outlines for satellites in use (in sky view)  for the dark theme. The dark theme has the same bold black outlines for satellites in use as the light theme. These outlines
changing to white would lead to better visibility which satellites  are in use in the dark theme.

[2020-09-21 22:17] barbeau commented on #437
@paulle Thanks for the feedback! I agree, a lighter outline for satellites on Sky view when in dark mode would be better.

[2020-09-23 19:00] #437 closed

[2020-09-24 05:58] jidanni opened #438 "Put tallies next to each item in the legend on Sky tab"
In Sky tab, at Legend, how about putting a tally next to each item?
E.g. 15 Navstar, (which would mean 15 Navstars on the sky map above the Legend.)

Or 15/22 meaning 15 visible out of a total of 22.

[2020-09-24 18:32] barbeau commented on #438
@jidanni Thanks for the feedback! I'm planning another "Device Info/Summary" screen that this would fit better on, which is being tracked at https://github.com/barbeau/gpstest/issues/313. I've updated that issue to have a reference to this one, so I'm going to close this issue.

[2020-09-24 18:32] #438 closed

[2020-09-25 17:02] barbeau opened #439 "NPE in UIUtils.dpToPixels()"
**Describe the bug**
Even after https://github.com/barbeau/gpstest/commit/0b47fca1a9f06017b6d319269764ac6cec9b1f7b, I'm still seeing some NPEs for Android 5 and 6 devices like:

[code]

**To Reproduce**

Unknown

**Expected behavior**
No crashes

**Observed behavior**
Crash with above NPE

**App, Device and Android version:**

Android 5 and 6 according to Google Play dashboard

[2020-09-25 17:06] barbeau commented on #439
This must be an error in the Play console, as the line (GpsStatusFragment.java:307) was changed in https://github.com/barbeau/gpstest/commit/0b47fca1a9f06017b6d319269764ac6cec9b1f7b and can't possibly be throwing an NPE now. So I'm going to close this.

[2020-09-25 17:06] #439 closed

[2020-09-25 17:26] barbeau commented on #419
Looking closer, GnssAntennaInfo can return several GnssAntennaInfo.SphericalCorrections:
https://developer.android.com/reference/android/location/GnssAntennaInfo.SphericalCorrections

...which returns several two-dimensional arrays. So a CSV file probably isn't the best way to represent this data.

We should consider writing this to a separate JSON file that can better represent the nested arrays.

[2020-09-30 22:06] barbeau commented on #426
Another user pointed to this SDK:
http://flamingosdk.com/

[2020-10-02 21:58] barbeau commented on #231
A recent publication using raw measurements:
https://www.ion.org/publications/abstract.cfm?articleID=15883

[2020-10-12 16:00] gb-dursley opened #440 "Accuracy - Allow input of altitude in feet"
**Bug Description**
In the ACCURACY window, the **Your...** (position) continues to use decimal degrees and metres when the user sets degrees & decimal minutes and feet in **Settings**, even though the accuracy data at the bottom of the window is expressed in feet.

**To Reproduce**
In Settings:
1) change the **Coordinate format** from decimal degrees to degrees decimal minutes
2) change **Preferr

[2020-10-12 16:03] gb-dursley opened #441 "Accuracy Window - inconsistent Units of Measure"
**Bug Description**
In the ACCURACY window, the **Your...** (position) continues to use decimal degrees and metres when the user sets degrees & decimal minutes and feet in **Settings**, even though the accuracy data at the bottom of the window is expressed in feet.

**To Reproduce**
In Settings:
1) change the **Coordinate format** from decimal degrees to degrees decimal minutes
2) change **Preferr

[2020-10-12 16:22] gb-dursley opened #442 "Accuracy Enhancements"
**Is your feature request related to a problem? Please describe.**
I'm particularly interested in Height Accuracy - but:-
 Status screen only shown E H Acc - could E V Acc be added please?
  Accuracy screen
    scale for grid
    + or - for V error
  Your...(position pane)
    in EDIT mode, the SAVE button is at the edge of the pane, leading to accidental taps on the grid (changing position!) rath

[2020-10-13 14:54] gb-dursley commented on #441
Oops!
Sorry, double post.

[2020-10-13 14:54] #441 closed

[2020-10-13 17:59] barbeau commented on #419
Test builds:
* Google Play version - https://www.dropbox.com/s/pdrn7l8zbvr8134/googleRelease-v3.8.3-antenna-log.apk?dl=1
* F-Droid version - https://www.dropbox.com/s/9dpr3ks87um0in7/osmdroidRelease-v3.8.3-antenna-log.apk?dl=1

In the test build, you can check support by going to GPSTest "Settings->Logging and Output" and see if the "Antenna Info" is checkable or if it's grayed out.

After you che

[2020-10-13 18:51] barbeau opened #444 "Accuracy - Allow input of location via DMS and DDM"
**Is your feature request related to a problem? Please describe.**
See https://github.com/barbeau/gpstest/issues/440.

Currently it's not clear that the "Settings->Display->Coordinate format" only applies to the Status screen.

**Describe the solution you'd like**
Potentially add support for inputting Accuracy ground truth location via DMS and DDM as well.

**Describe alternatives you've considere

[2020-10-13 18:54] barbeau commented on #440
@gb-dursley Thanks for the feedback! I've split this into two separate issues, with the input of Accuracy location in DMS/DDM in https://github.com/barbeau/gpstest/issues/444, and this issue focusing on altitude in feet. I agree it's not currently clear that the coordinate format settings only apply to Status, especially for altitude. Supporting Accuracy altitude in feet should be easier to implem

[2020-10-13 19:01] barbeau commented on #442
@gb-dursley Thanks for the feedback! Having multiple problems/enhancements bundled in one issue makes it hard to track them. Let's try to figure out which items need their own issues and then close this one out.

What device are you using? Unfortunately not all devices support vertical accuracy info, but for the ones that do you should see a "E H/V Acc" field and two values like "35.5/23.3 ft" in

[2020-10-13 22:05] barbeau opened #445 "Add Finnish language"
**Is your feature request related to a problem? Please describe.**
Looks like Ari Nygard has finished the Finnish language translation:
https://www.transifex.com/sean-barbeau/gpstest-android/language/fi/

**Describe the solution you'd like**
Add "Finnish" language to the app

**Describe alternatives you've considered**
N/A

[2020-10-17 12:46] tucotuco commented on #375
This same request was expressed today in our georeferencing course. The ideal minimum would be to capture lat, long, CRS, accuracy, elevation, vertical datum, and timestamp.

Thanks for great software and considering these enhancements.

[2020-10-19 16:08] barbeau opened #446 "File logging broken on Android 11"
**Describe the bug**
File logging is currently broken on Android 11 devices due to changes in scoped storage related to `targetSdkVersion 29`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings and enable logging for NMEA (or any other property)

**Expected behavior**
File should be logged to `gnss_log`

**Observed behavior**
You get an error message saying "Could not open file..

[2020-10-19 16:14] #446 closed

[2020-10-19 16:27] barbeau opened #447 "Support scoped storage (prior to targetSdkVersion 30)"
**Is your feature request related to a problem? Please describe.**
Before updating to `targetSdkVersion 30`, we need to support scoped file storage. Otherwise file logging will break on Android 11 and higher.

https://developer.android.com/training/data-storage/use-cases says:

**Describe the solution you'd like**
Based on this:
https://developer.android.com/about/versions/11/privacy/storage#scope

[2020-10-20 12:12] Avamander commented on #426
This sounds really nice, if at all possible.

[2020-10-20 17:38] barbeau commented on #404
Looking at the master branch and latest release v3.8.4, logs are overwritten on a Samsung Galaxy S8+ w/ Android 9 instead of being appended to. Re-opening...

[2020-10-20 17:44] #404 closed

[2020-10-24 23:13] #419 closed

[2020-11-05 22:18] barbeau commented on #422
Netflix example using KMM:
https://netflixtechblog.com/netflix-android-and-ios-studio-apps-kotlin-multiplatform-d6d4d8d25d23

[2020-11-22 01:38] gdt commented on #269
I was just reading the NMEA logs (yay! for the log recording facility), and noticed that in GPGGA there is a field with value 1/2/4/5 for autonomous/differential/rtk-fix/rtk-float.    So while that might not be reliable, showing one of "AUTO", "DIFF", "FIX", "FLOAT" would be great, and even better to figure out a better word for autonomous.   I am seeing 2.

[2020-11-22 01:48] gdt commented on #79
This perhaps belongs in a separate PR, but in addition to bluetooth it would be nice to support NMEA over TCP sockets.  Vespucci has support for this now, to be able to use local rtklib on the phone or an external GPS receiver over wifi.

[2020-11-23 17:41] gdt commented on #426
I think it's best if GPSTest does not cross over into computing RTK positions.  It's a diagnostic tool that displays a GUI, which is entirely appropriate.   If one wanted to do RTK, presumably that position would then be usable by things like OsmAnd and Vespucci, so you'd get into being a high-accuracy network provider or a faux GPS provider via mocking, or some other interface.   The RTK process

[2020-11-23 17:49] barbeau commented on #79
@gdt Could you open a new issue for TCP support and link to this issue? If you have any links to existing tools/code you could share that would help that would be great.

[2020-11-23 17:49] gdt commented on #337
That all makes sense.  Keep in mind that "WGS84 altitude" raises the issue of EGM96 vs EGM2008.  I would say  that the right answer is EGM2008 because that is referenced  in the most recent WGS84 specification.

Related to this, I'm seeing very strange geoid offsets, basically -33m when the right answer (EGM2008) for my location is -29m.   I see similar values from an F9P.  So I think there are ve

[2020-11-23 17:55] barbeau commented on #269
@gdt Interesting! Which device is this? Can you share some of those logs? And which NMEA docs are you using for the RTK values?

[2020-11-23 18:01] gdt opened #450 "Support external NMEA source over TCP (e.g. RTKLIB, RTK-capable external receiver)"
There are ways to get GPS information into an Android phone from non-traditional sources; these are used to get higher accuracy, and in particular to support RTK.

Mechanisms include:
  * app that needs position makes a TCP connection to a socket on another computer (typically on hotspot LAN) or to localhost
  *  app that needs position listens on a  port and the remote device connects

Setups inc

[2020-11-23 18:06] gdt commented on #269
See https://www.gpsworld.com/what-exactly-is-gps-nmea-data/ that mentions the RTK values.  I don't have any actual NMEA specs.   I will try to to figure this out and make a more coherent report.

On a Pixel XL, using GPSTest's log recording feature, I am always seeing "2" from GPSTest on my phone even on startup.   I can try it again after not having used GPS for a long time.    I know with gpsd I

[2020-11-23 18:11] gdt commented on #269
I amend my suggestion to use "SINGLE" for codepoint 1 instead of "AUTONOMOUS".   It might be that just showing this value from GGA as tokens or even numbers in a field "NMEA Fix Mode:" would lead to lots of people noticing things and figuring out more, if you're up for a change  based on a blog post about a spec (which feels 99% reliable to me).

[2020-11-26 05:08] barbeau opened #451 "JUnit tests are broken"
**Describe the bug**
If you run the JUnit tests in Android Studio 4.1, you get this:

[code]

~~This seems to be the root of the same issue seen in this CI build, which is what happens when running `./gradlew test` from the command line:~~
https://travis-ci.org/github/barbeau/gpstest/jobs/745713794

[code]

~~It's strange because this suddenly broke with a commit in this PR  on CI and has been fai

[2020-11-30 17:57] gdt commented on #422
I know someone who is geo-clueful and has an iPhone, and they have been unable to get any information beyond the location API (which I think is lat/lon/elevation/accuracy/speed/course sorts of things).   I am aware of no reason to believe that information about satellites being tracked is available in any way.

Until there is a pointer to Apple docs that provide an API to get the information that

[2020-12-01 17:10] barbeau opened #452 "Lint check flags errors when running tests"
**Describe the bug**
When running `./gradlew testcheck connectedCheck` lint flags a few errors:

[code]
  C:\android-projects\gpstest\GPSTest\gradle.properties:1: Error: Windows file separators (\) and drive letter separators (':') must be escaped (\\) in property files; use C\:/android-projects/gpstest/GPSTest/secure.properties [PropertyEscape]
  secure.properties=C:/android-projects/gpstest/GPST

[2020-12-01 18:30] barbeau commented on #451
Running  `./gradlew testcheck connectedCheck` (after ignoring lint checks see https://github.com/barbeau/gpstest/issues/452) works for me on my machine, so I'm not sure what's going on on Travis. Maybe a separate issue?

[2020-12-01 18:54] barbeau commented on #451
Travis issue appears unrelated - see https://github.com/barbeau/gpstest/pull/448 for notes on Travis issue.

[2020-12-01 19:13] barbeau commented on #452
I believe the last Lint issue is actually a bug, so I've filed an issue here:
https://issuetracker.google.com/issues/174553586

[2020-12-01 21:55] barbeau commented on #422
@gdt Good point. That reflects the most recent state of my knowledge on iOS as well, but it's been a while since I looked into it.

So for anyone who is interested in this, please file an issue with Apple requesting an API for per-satellite data. And the first person that does this, please add a link in a comment here so others can upvote.

[2020-12-02 17:56] barbeau opened #453 "No tests found when running on APIs 18 and 19 (Travis builds broken)"
**Describe the bug**
As seen in https://github.com/barbeau/gpstest/pull/448#issuecomment-737394375.

The unit tests now pass on API >=21 but are failing with a different error on APIs 18 and 19:
https://travis-ci.org/github/barbeau/gpstest/builds/747082174

Here's the error on APIs 18 and 19 - it can't find the instrumented tests to execute them:

[code]

**To Reproduce**
Steps to reproduce the be

[2020-12-03 12:12] mash-graz opened #454 "VERSION_TAG customization"
while developing a [nom](https://github.com/Geal/nom) based parser for the android RAW GNSS log file format, i stumbled over some issues concerning the "Version:" notation in the header and its subtle and incompatible differences in various implementations.

in contrast to googles RAW GNSS Log app, which uses a rather minimalist line of metainformation in it's log file header:
[code]
GPSTest repor

[2020-12-03 19:13] barbeau commented on #454
@mash-graz Thanks for opening this! I agree, this is a bit tricky as the format isn't officially standardized.

So in short I don't have a strong objection to changing this version key name to match the other apps if that makes parsing easier. This was an attempt to clarify that the file originated from GPSTest and not GNSSLogger, but that's likely apparent from the longer version string anyway.

[2020-12-03 19:19] #454 closed

[2020-12-03 19:24] #452 closed

[2020-12-03 19:44] barbeau commented on #445
I'm getting an error on `help_text`:

[code]

[2020-12-03 19:49] barbeau commented on #445
Found the issue - one of the unicode characters was missing the `0` - `\u002`

[2020-12-03 19:57] #445 closed

[2020-12-03 21:13] mash-graz commented on #454
thanks for your fast and helpful reaction!

yes -- the semantics of this "version" field will unfortunately always stay ambiguous.

but as long as all apps try to mimic the behavior of a specific reference implementation in its actual release as close as possible, the relevant information for a correct interpretation of the data should be at least accessible by a little bit of guesswork, if not ne

[2020-12-07 19:29] barbeau commented on #442
I think "scale for grid" means a map scale bar, which has an issue open at https://github.com/barbeau/gpstest/issues/395, so I'm going to close this out.

[2020-12-07 19:29] #442 closed

[2020-12-10 02:09] skittlz-lab opened #455 "Can google maps be replaced by other mapping software？"

[2020-12-10 19:07] barbeau opened #456 "Google incorrectly detecting background location use"
**Describe the bug**
On submission of v3.9.0 to Google Play, Google kicked it back with this message triggered by their new location use screening:

GPSTest only works in the foreground and doesn't run in the background (hence https://github.com/barbeau/gpstest/issues/299), but I'm guessing that Google's automated system is looking for keywords within the app and flagged the old setting "Stop GNSS

[2020-12-10 19:11] #456 closed

[2020-12-10 19:19] barbeau commented on #455
Yes! Please check out the F-Droid release for non-Google Maps devices - https://f-droid.org/packages/com.android.gpstest.osmdroid/.

[2020-12-10 19:19] #455 closed

[2020-12-11 01:40] skittlz-lab commented on #455
but this one also uses Google Maps..:(

[2020-12-11 14:23] barbeau commented on #455
Nope, the F-Droid release uses [OSMDroid](https://github.com/osmdroid/osmdroid) with a combination of Mapbox and Maptiler tiles that are based on [OpenStreetMap](https://www.openstreetmap.org/) data.

[2020-12-13 17:18] Rikk commented on #456
I thought this feature was useful when GPS takes a long time to detect my location and I need to use another app in the while.
Perhaps, this strategy didn't work and GPS doesn't stay working when app is in background (despite the message in notification bar)?

[2020-12-13 19:57] sm4rk0 opened #457 "Wrong layout in share dialog"
**Describe the bug**
Actions in the share dialog are drawn over the "Include altitude" checkbox.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Tap the share button

**App, Device and Android version:**

GPSTest 3.9.1
Samsung Galaxy S10e
Android version 10 (stock)
Google Play Services 20.47.13

**Screenshots:**

[Google photos](https://photos.app.goo.gl/qXQnB3kjnwRSMjMHA), b

[2020-12-13 20:02] sm4rk0 opened #458 "OSMdroid - Crash if orientation is changed while map is active"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Tap the share button
3. Change the phone orientation

**App, Device and Android version:**
GPSTest 3.9.1
Samsung Galaxy S10e
Android version 10 (stock)
Google Play Services 20.47.13

[2020-12-13 21:25] naoliv commented on #457
Indeed:
![](https://user-images.githubusercontent.com/982338/102024369-6086a380-3d70-11eb-83a9-755bec760a96.png)

It's also not possible to properly see the send button at the last share screen:

![](https://user-images.githubusercontent.com/982338/102024391-857b1680-3d70-11eb-98b9-87a8beb95102.png)